<div
  class="card position-relative rounded-0 mb-4 border-0 mx-auto animate__animated animate__fadeIn"
  style="width: 80%"
>
  <button
    class="btn btn-dark rounded-0 btn-sm position-absolute"
    title="Share with friends"
  >
    <i class="bi bi-share"></i>
  </button>
  <p
    class="bg-dark p-1 px-3 text-white rounded-0 btn-sm position-absolute cursor-default"
    title="New product"
    style="left: 40px"
  >
    New
  </p>
  <img
    [src]="'./assets/images/' + product.category + '/products/productx.png'"
    class="card-img-top rounded-0"
    alt="..."
  />

  <div class="card-body">
    <h5 class="card-title mb-2">
      {{ product.name }} | {{ product.price | currency : "USD" }}
    </h5>
    <p class="card-text mb-2">{{ product.dimentions }}</p>
    <p class="card-text mb-2">{{ product.reference }}</p>
  </div>
  <div class="card-footer d-flex border-top-0 bg-none p-0">
    <a
      (click)="navigate(product.id, product.name)"
      class="btn btn-sm btn-outline-dark rounded-0 w-100 ms-1 card-button"
      >Details</a
    >
  </div>
</div>
