<div class="descriptions p-lg-4">
  <div class="d-flex">
    <div>
      <h2 class="bold mb-0 h1">{{ product.name | uppercase }} <br /></h2>
      <p class="mb-5">REF:{{ product.reference }}</p>
    </div>
    <div class="ms-auto">
      <p>
        <span
          class="badge p-2 rounded-0"
          [ngClass]="product.stock ? 'bg-success' : 'bg-danger'"
          >{{ product.stock | stock }}</span
        >
      </p>
    </div>
  </div>
  <h2 class="card-title mt-3 mb-0">
    {{ product.price | currency : "USD" }}<br /><br />
  </h2>
  <p>DIMENTIONS: {{ product.dimentions }}</p>
  <p>{{ product.description }}</p>

  <div class="d-flex my-5">
    <app-counter class="w-50" (numberCount)="setNumber($event)"></app-counter>
    <div class="row ms-auto w-100 mt-2">
      <div class="col-2" *ngFor="let color of colors">
        <color-select
          [activeColor]="color == product.color ? true : false"
          [background]="color"
          (selectedColor)="updateFilterColor($event)"
        ></color-select>
      </div>
    </div>
  </div>
  <div class="d-flex">
    <button
      (click)="addCart(product)"
      class="btn btn-dark w-100 rounded-0"
      [disabled]="!product.stock"
    >
      <i class="bi bi-bag-heart cursor-pointer"></i> ADD TO CART
    </button>
  </div>
</div>
