<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<div class="descriptions p-lg-4">
  <p class="mobile-out" @fadeUp>
    <a class="text-dark" routerLink="/">Home </a> /
    <a class="text-dark" [routerLink]="'/products/' + product.category"
      >{{ product.category | capitalize }}
    </a>
    /
    <a
      class="text-dark"
      [routerLink]="'/products/' + product.category + '/' + product.subcategory"
      >{{ product.subcategory | capitalize }}
    </a>
    / {{ product.name }}
  </p>
  <div class="mobile-out" @fadeUp1>
    <div class="d-flex">
      <h1 class="bold mb-0 h5">{{ product.name }} - {{ product.size }}</h1>
      <p class="ms-3">
        <span
          class="badge p p-1 px-3 rounded-pill rounded-0"
          [ngClass]="product.stock ? 'bg-success' : 'bg-danger'"
          >{{ product.stock | stock }}</span
        >
      </p>
      <p
        (keydown)="shareProduct($event, product.id, product.name)"
        data-action="share/whatsapp/share"
        title="Share with friends"
      >
        <span
          class="badge p p-1 px-3 rounded-pill rounded-0 btn shadow-sm ms-2 text-bg-light"
          >Share!</span
        >
      </p>
    </div>
  </div>
  <h3 class="mt-2 mb-0 h3 color-gold mobile-out" @fadeUp2>
    {{ product.price | currency : "USD" }}<br />
  </h3>
  <p @fadeUp2 class="mb-0 mobile-out">
    Material Detail: {{ product.materialDetail }}
  </p>
  <div class="my-4" @fadeUp3>
    <p class="mb-2">
      Color: <strong class="hb">{{ product.color }}</strong>
      <span *ngIf="product.detailColor !== ''">
        & Color Detail:
        <strong class="hb"> {{ product.detailColor }}</strong></span
      >
    </p>
    <div class="row col-6 mt-2">
      <div class="col-2" *ngFor="let color of colors">
        <app-color-select
          (click)="navigateParent(color.id, color.name)"
          [activeColor]="color.color === product.color ? true : false"
          [background]="color.color"
        ></app-color-select>
      </div>
    </div>
  </div>
  <div class="row my-3" @fadeUp4>
    <div class="col-lg-6 col-md-12 col-sm-12">
      <p class="mb-2">
        Sizes: <strong class="hb">{{ product.size }}</strong>
      </p>
      <div class="row mx-1">
        <button
          *ngFor="let size of sizes; index as i"
          [ngClass]="{
            'bg-gold border-gold text-white': size === product.size,
            'bg-light': size !== product.size
          }"
          [title]="size"
          class="btn rounded-0 p-0 size-icon col-4"
          (click)="selectSize(size)"
        >
          <img
            width="100%"
            class="p-0"
            [alt]="product.name"
            [src]="url + 'classapi/images/app/custom-icons/' + size + '.png'"
          />
        </button>
      </div>
    </div>

    <div class="col-lg-6 col-md-12 col-sm-12">
      <p class="mb-2">
        Sets: <strong class="hb">{{ product.sets }}</strong>
      </p>
      <div class="row mx-1">
        <button
          *ngFor="let set of sets; index as i"
          [ngClass]="{
            'border-gold text-white': set === product.sets,
            'bg-light': set !== product.sets
          }"
          [title]="set"
          class="btn rounded-0 p-0 size-icon col-4"
          (click)="selectSets(set)"
        >
          <img
            width="100%"
            class="p-0"
            [alt]="product.name"
            [src]="
              url +
              'classapi/images/app/custom-icons/' +
              (set | spaces) +
              '.png'
            "
          />
        </button>
      </div>
    </div>
  </div>

  <div class="mt-3 d-flex border-top border-bottom py-3" @fadeUp5>
    <app-counter
      class="w-25"
      [min]="product.minimunOrder"
      (numberCount)="setNumber($event)"
    ></app-counter>
    <button
      *ngIf="validToAdd(); else needMember"
      (click)="addCart(product)"
      class="btn btn-dark w-50 ms-3"
      [disabled]="!product.stock"
    >
      ADD TO CART
    </button>
    <ng-template #needMember>
      <button (click)="goSignIn()" class="btn btn-dark w-50 ms-3">
        SING IN FOR THIS PRODUCT
      </button>
    </ng-template>
  </div>
  <p class="py-2 border-bottom mb-0" @fadeUp6>
    SKU: {{ product.reference }} &nbsp;&nbsp;&nbsp;&nbsp; Categories:
    {{ product.category | capitalize }} / {{ product.subcategory | capitalize }}
  </p>
  <app-descripption-accordion
    @fadeUp7
    [product]="product"
  ></app-descripption-accordion>
</div>
