<article class="container">
  <div class="separador-menu"></div>
  <div class="row">
    <div class="text-start col-12 p-3">
      <div class="sticky-lg-top category-name pe-5 pt-5">
        <h1 @fadeUp1 class="products-page-title mb-0">Our Policies</h1>
        <p @fadeUp2 class="products-page-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nec
          tempus tellus. Proin a aliquam massa. Etiam quis pharetra nibh, eu
          commodo leo.
        </p>
        <div @fadeUp class="separador-start mb-5 mt-3"></div>
      </div>
    </div>
    <div clas="col-12 mt-5">
      <div class="row mt-5">
        <div class="col-3 border-0">
          <nav
            id="navbar-example3"
            class="h-100 flex-column align-items-stretch pe-4"
          >
            <nav class="nav nav-pills flex-column sticky-top">
              <a class="nav-link" href="#item-1" @fadeUp3>Refund Policy</a>
              <!-- <nav class="nav nav-pills flex-column">
                <a class="nav-link ms-3 my-1" href="#item-1-1"
                  >How will my return be refunded?</a
                >
                <a class="nav-link ms-3 my-1" href="#item-1-2"
                  >When will I receive my refund?</a
                >
                <a class="nav-link ms-3 my-1" href="#item-1-3"
                  >Will my delivery ship fees or services be refunded?</a
                >
                <a class="nav-link ms-3 my-1" href="#item-1-4"
                  >Can I change my refund method?</a
                >
              </nav> -->
              <a class="nav-link" href="#item-2" @fadeUp4
                >Damaged or Defective Items</a
              >
              <a class="nav-link" href="#item-3" @fadeUp5>Missing Parts</a>
              <a class="nav-link" href="#item-4" @fadeUp6>Return Policy</a>
              <a class="nav-link" href="#item-5" @fadeUp7>Wrong Item Policy</a>
            </nav>
          </nav>
        </div>

        <div class="col-9 border-start" @fadeUp3>
          <div
            data-bs-spy="scroll"
            data-bs-target="#navbar-example3"
            data-bs-smooth-scroll="true"
            class="scrollspy-example-2"
            tabindex="0"
          >
            <div id="item-1">
              <h4 class="py-3">Refund Policy</h4>
              <hr />
              <div class="col-lg-10 ms-auto">
                <h5>How will my return be refunded?</h5>
                <p>
                  When returning an item, you can choose to receive your refund
                  as store credit (never expires!) or to your original payment
                  method.
                </p>
                <h5>When will I receive my refund?</h5>
                <ul>
                  <li>
                    The timing of your refund is dependent on your refund
                    method.
                  </li>
                  <li>
                    Store Credit and Gift Card: We will credit your account
                    within 3 business day once we receive notification that your
                    item(s) have arrived at our Returns Center or have been
                    returned in store.
                  </li>
                  <li>
                    Credit Card: We will initiate your refund once items are
                    received. Please allow up to 2 weeks (10 business days) for
                    us to fully process your return and issue your refund.
                  </li>
                  <li>
                    All other methods: Please allow up to 2 weeks for us to
                    fully process your return and issue your refund. For cash
                    purchases, you may be refunded as a corporate check. If your
                    returned item is not received at our Returns Center, we
                    reserve the right to reverse the refund.
                  </li>
                </ul>
                <h5>Will my delivery ship fees or services be refunded?</h5>
                <ul>
                  <li>
                    Any delivery ship fees or service charges collected on the
                    order will not be refunded. This includes:
                  </li>
                  <li>$4.99 shipping charge for orders under $35</li>
                  <li>
                    Upgraded shipping charges (expedited, express, room of
                    choice, etc.)
                  </li>
                  <li>Assembly services included with delivery</li>
                </ul>
                <h5>Can I change my refund method?</h5>
                <p>
                  Yes, you can change your refund method before you have
                  returned the item(s) by going to My Orders.
                </p>
              </div>
            </div>
            <div id="item-2">
              <h4 class="py-3">Damaged or Defective Items</h4>
              <hr />
              <div class="col-10 ms-auto">
                <p>
                  IMPORTANT : If the item arrives damaged or is missing a box,
                  please do not receive and reject the delivery. DO NOT SIGN
                  BILL OF LADING !
                </p>
                <p>
                  We know how frustrating a damaged or defective item can be.
                  Should you receive item damaged or defective, rest assured, we
                  will commit to finding a resolution for you if reported within
                  30 days of the delivery date. To ensure we make your order
                  right, we will require a photo(s) of the damage and/or for the
                  original item to be returned when providing a resolution. If
                  you are instructed to return the original item and it is not
                  received at our Returns Center, we reserve the right to
                  reverse the refund or charge for a replacement unit. We
                  reserve the right to refuse to service any damaged or
                  defective item reported more than 30 days after the delivery
                  date.
                </p>
                <p>
                  During the resolution process, you will interact directly with
                  our Class Design team. They serve as your primary point of
                  contact, ensuring that your concerns are addressed efficiently
                  and effectively. The Class Design team will communicate and
                  coordinate with manufacturers and carriers on your behalf to
                  facilitate the resolution of any issues. We are dedicated to
                  transparency and efficiency, ensuring that you are kept
                  informed throughout the process. If any issues arise or
                  responses are delayed beyond two business days, our Class
                  Design team will intervene to secure a satisfactory
                  resolution.
                </p>
                <h5>Report Damaged or Defective Items</h5>
                <ol>
                  <li>
                    Login to your Account and locate your item(s) under My
                    Orders.
                  </li>
                  <li>
                    Select “Problem with this Order" (this will only appear for
                    eligible items when reported within 30 days of the delivery
                    date).
                  </li>
                  <li>
                    Follow the prompts to complete your request for resolution.
                  </li>
                  <li>
                    For the photos required, please upload photos that
                    display:<br />
                    <ul>
                      <li>
                        The entire item (out of the box - if safe, please
                        inspect the item even if the packaging is damaged),
                      </li>
                      <li>The packaging if available,</li>
                      <li>Close-up and clear photos of the damage</li>
                    </ul>
                  </li>
                  <li>
                    Once your request is submitted, you will receive an email
                    confirming your resolution and next steps. If you are asked
                    to return the original item, instructions will be provided
                    via email and in your My Account.
                  </li>
                </ol>
                <h5 class="mb-0">
                  What if it has been more than 30 days since delivery but my
                  item has a manufacturer's warranty/protection plan?
                </h5>
                <p>
                  If it has been more than 30 days since the date of delivery
                  but the item has an eligible manufacturer's warranty or
                  protection plan, please contact us for a resolution.
                </p>
                <h5 class="mb-0">
                  How do I know if my item has a manufacturer’s warranty?
                </h5>
                <p>
                  To check item eligibility, scroll down on the item’s product
                  page, select “Specifications,” and view Warranty details under
                  “Warranty.”
                </p>
                <h5 class="mb-0">
                  How do I know if I purchased a protection plan?
                </h5>
                <p>
                  If you purchased a protection plan for your item, it will
                  appear as an "added" purchase on the line item in My Orders.
                </p>
                <h5 class="mb-0">
                  What if my open box or clearance item is damaged/defective?
                </h5>
                <p>
                  We can assist with open box or clearance items however
                  resolution options are limited.
                </p>
                <h5 class="mb-0">
                  What do I do if I am instructed to return my damaged/defective
                  item but I don’t have the original packaging?
                </h5>
                <p>
                  You can return the item in its original packaging or a similar
                  box if the packaging has been damaged/discarded.
                </p>
                <p>
                  Class Design is unable to provide boxes or packaging for the
                  return.
                </p>
              </div>
            </div>
            <div id="item-3">
              <h4 class="py-3">Missing Parts</h4>
              <hr />
              <div class="col-10 ms-auto">
                <p>
                  Is your new table missing a leg or is your bookshelf missing
                  hardware or an assembly guide? Let’s get your assembly back on
                  track! Use the following to help determine your next steps:
                </p>
                <ul>
                  <li>
                    If you are missing the assembly guide for your item, you may
                    be able to locate it directly on the item’s product page -
                    check the “Specifications” tab to see if it is available on
                    site.
                  </li>
                  <li>
                    Orders may be shipped in multiple boxes. Locate your item in
                    My Orders and click “Track Your Package” to ensure the item
                    wasn’t shipped in multiple boxes. If your shipment shows as
                    delivered but did not arrive, see instructions here.
                  </li>
                  <li>
                    Your missing part might not be missing at all. It might be
                    that the parts are stored in places for shipping that make
                    them tough to spot. Review our hidden parts guides to
                    determine if your furniture parts are hidden.
                  </li>
                </ul>
                <h5>Missing Parts Policy</h5>
                <p>
                  If the above steps don’t solve the issue, we will be sure to
                  send you replacement parts, hardware, assembly guide, if
                  available, or other resolution if reported within 30 days of
                  delivery. To help make your order right, we will require a
                  photo(s) and/or for the original item to be returned when
                  providing a resolution. If you are instructed to return the
                  original item and it is not received at our Returns Center, we
                  reserve the right to reverse the refund or charge for a
                  replacement unit. We reserve the right to refuse to service
                  any missing items reported more than 30 days after the
                  delivery date.
                </p>
                <p>
                  During the resolution process, you will interact directly with
                  our Class Design team. They serve as your primary point of
                  contact, ensuring that your concerns are addressed efficiently
                  and effectively. The Class Design team will communicate and
                  coordinate with our partners and carriers on your behalf to
                  facilitate the resolution of any issues. We are dedicated to
                  transparency and efficiency, ensuring that you are kept
                  informed throughout the process. If any issues arise or
                  responses are delayed beyond two business days, our Class
                  Design team will intervene to secure a satisfactory
                  resolution.
                </p>
                <h5>Report Missing Parts, Hardware, or Assembly Guide</h5>
                <ol>
                  <li>
                    Login to your Account and locate your item(s) under My
                    Orders.
                  </li>
                  <li>
                    Select “Problem with this Order" (this will only appear for
                    eligible items when reported within 30 days of the delivery
                    date).
                  </li>
                  <li>
                    Follow the prompts to complete your request for resolution.
                  </li>
                  <li>
                    For photos required, please upload photos that display:
                    <ul>
                      <li>The entire item (out of the box)</li>
                      <li>
                        Assembly guide images with missing part(s) circled
                      </li>
                      <li>Any hidden compartments if applicable</li>
                    </ul>
                  </li>
                  <li>
                    Once your request is submitted, you will receive an email
                    confirming your resolution and next steps. If you are asked
                    to return the original item, instructions will be provided
                    via email and in your My Account.
                  </li>
                </ol>
                <h5 class="mb-0">
                  What if my open box or clearance item is missing parts?
                </h5>

                <p>
                  We can assist with open box or clearance items however
                  resolution options are limited.
                </p>
                <h5 class="mb-0">
                  What do I do if I am instructed to return my original item but
                  I don’t have the original packaging?
                </h5>

                <p>
                  You can return the item in its original packaging or a similar
                  box if the packaging has been damaged/discarded.
                </p>
              </div>
            </div>
            <div id="item-4">
              <h4 class="py-4">Return Policy</h4>
              <hr />
              <div class="col-10 ms-auto">
                <p>
                  IMPORTANT : If the item arrives damaged or is missing a box,
                  please do not receive and reject the delivery. DO NOT SIGN
                  BILL OF LADING !
                </p>
                <h5>Changed your mind and want to return an item?</h5>
                <ul>
                  <li>
                    Returns are seamless and easy! Depending on how your item
                    arrived, the process to return will vary slightly.
                  </li>
                </ul>
                <h5>How do I return my item(s)?</h5>
                <ol>
                  <li>
                    To start your return, visit the My Orders section of My
                    Account.
                  </li>
                  <li>
                    Identify and select the return option for the item you wish
                    to return. Complete the online form, including selecting
                    which return and refund method you desire.
                  </li>
                  <li>
                    Check your inbox for a return confirmation email which
                    includes your shipping label.
                  </li>
                </ol>
                <h5>For item(s) delivered by UPS or FedEx:</h5>
                <ul>
                  <li>
                    Print the shipping label you received in the return
                    confirmation email, and bring the package to a nearby
                    drop-off location. If you are unable to bring your item to a
                    drop-off location, you can schedule a FedEx pickup by
                    reaching out to a service agent.
                  </li>
                </ul>
                <h5>
                  For large, heavy, or fragile item(s) delivered via special
                  carrier:
                </h5>
                <ul>
                  <li>
                    We will coordinate for the item to be picked up at your
                    convenience on an afternoon when you will be home.
                  </li>
                  <li>
                    We will initiate your refund upon receipt of your returned
                    items at our Returns Centers. For more details regarding
                    refunds and the timing of refunds, please review our Refund
                    Policy
                  </li>
                </ul>
                <h5>Return item(s) Purchased in Store:</h5>
                <ul>
                  <li>
                    If you purchased your item in store and carried it home, you
                    can complete your return in store.
                  </li>
                  <li>
                    Please bring your receipt and any original packaging to the
                    store the item was purchased from.
                  </li>
                  <li>
                    We will initiate your refund upon receipt of your returned
                    items at our Returns Centers. For more details regarding
                    refunds and the timing of refunds, please review our Refund
                    Policy
                  </li>
                </ul>
                <h5>Return Policy:</h5>
                <ul>
                  <li>
                    We're happy to accept returns for most items within 30 days
                    of delivery. Item(s) must be:
                  </li>
                  <li>In its original, undamaged condition</li>
                  <li>
                    Disassembled, if the item(s) were originally delivered
                    disassembled
                  </li>
                  <li>
                    In its original packaging. Note: If the original packaging
                    is too damaged to be shipped back, you must use a box that’s
                    similar to the original or a box no longer than 108 inches.
                    FedEx/UPS cannot accept shipments over 150lbs
                  </li>
                </ul>
                <h5>There are a few items that can’t be returned:</h5>
                <ul>
                  <li>Open Box (Items Cannot be Returned or Replaced)</li>
                  <li>Clearance Items</li>
                  <li>Gift cards</li>
                  <li>Personalized items</li>
                  <li>
                    Bundled items at discounted rates, e.g. “5 for $25” (unless
                    the entire bundle is returned)
                  </li>
                  <li>Items marked “Non-Returnable” on the sale page</li>
                </ul>
                <h5>Return Shipping Fee</h5>
                <ul>
                  <li>
                    Applicable return shipping costs will be deducted from your
                    return. The return shipping costs can vary depending on the
                    location of the return, size and weight of the item and
                    selected return method. In addition, any delivery shipping
                    fees or service charges collected on the order will not be
                    refunded. This includes:
                  </li>
                  <li>Any delivery charge for orders under $35</li>
                  <li>
                    Upgraded shipping charges (expedited, express, room of
                    choice, etc.)
                  </li>
                  <li>Delivery service upgrades (assembly, room of choice)</li>
                </ul>
                <p>
                  <strong>Note:</strong> If an order is returned to us because
                  you refused delivery, we will charge the appropriate return
                  costs and they will be deducted from your refund. Exceptions
                  apply.
                </p>
                <h5>Refund Timing</h5>
                <ul>
                  <li>
                    We will initiate your refund once items are received. Please
                    allow up to 2 weeks (10 business days) for us to fully
                    process your return and issue your refund. For more details
                    regarding refunds and the timing of refunds, please review
                    our Refund Policy.
                  </li>
                </ul>
                <h5>Large Appliance Return Policy</h5>
                <ul>
                  <li>
                    You can return a large appliance within 48 hours of delivery
                    as long as it has not been installed and is returned in the
                    original packaging. In some cases, you might have to pay the
                    manufacturer’s restocking fee.
                  </li>
                  <li>
                    Please take the following steps before installing the
                    appliance:
                  </li>
                  <ol>
                    <li>Scan the box for damage.</li>
                    <li>
                      Make sure the product name and model number match your
                      order confirmation.
                    </li>
                    <li>Remove the packaging and inspect the appliance.</li>
                  </ol>
                  <li>
                    If you receive the wrong item or it arrives damaged, don’t
                    accept the delivery. Tell your delivery representative(s)
                    and contact us so we can arrange for a replacement. Once you
                    have installed the appliance, it cannot be returned.
                  </li>
                </ul>
                <h5>Extended Return Policies</h5>
                <ul>
                  <li>
                    If your item is damaged or missing parts, please see Damage
                    and Defects Policy or Missing Parts.
                  </li>
                  <li>
                    If you received the wrong item, please see Received the
                    Wrong Item.
                  </li>
                </ul>
              </div>
            </div>
            <div id="item-5">
              <h4 class="py-4">Wrong Item Policy</h4>
              <hr />
              <div class="col-10 ms-auto">
                <p>
                  If you have received the wrong item, color, or size, we will
                  be sure to get a resolution for you if reported within 30 days
                  of the delivery date. To help make your order right, we will
                  require a photo(s) and/or for the original item to be returned
                  when providing a resolution. If you are instructed to return
                  the original item and it is not received at our Returns
                  Center, we reserve the right to reverse the refund or charge
                  for a replacement unit. We reserve the right to refuse to
                  service any wrong item reported more than 30 days after the
                  delivery date.
                </p>
                <p>
                  During the resolution process, you will interact directly with
                  our Class Design team. They serve as your primary point of
                  contact, ensuring that your concerns are addressed efficiently
                  and effectively. The Class Design team will communicate and
                  coordinate with our partners and carriers on your behalf to
                  facilitate the resolution of any issues. We are dedicated to
                  transparency and efficiency, ensuring that you are kept
                  informed throughout the process. If any issues arise or
                  responses are delayed beyond two business days, our Class
                  Design team will intervene to secure a satisfactory
                  resolution.
                </p>
                <h5>Report Wrong Items</h5>
                <ol>
                  <li>
                    Login to your Account and locate your item(s) under My
                    Orders.
                  </li>
                  <li>
                    Select “Problem with this Order" (this will only appear for
                    eligible items when reported within 30 days of the delivery
                    date).
                  </li>
                  <li>
                    Follow the prompts to complete your request for resolution.
                  </li>
                  <li>
                    For the photos required, please upload photos that display:
                    <ul>
                      <li>
                        The entire item (out of the box - please inspect the
                        item even if you suspect it is incorrect based on
                        packaging/naming),
                      </li>
                      <li>
                        For wrong size: a photo of the box that shows the
                        incorrect measurements or a photo of the wrong size
                        showing that it is incorrect,
                      </li>
                      <li>Packaging/model number details on the box</li>
                    </ul>
                  </li>

                  <li>
                    Once your request is submitted, you will receive an email
                    confirming your resolution and next steps. If you are asked
                    to return the original item, instructions will be provided
                    via email and in your My Account.
                  </li>
                </ol>
                <h5 class="mb-0">
                  What if it is determined to be the correct item but I still
                  don’t want it?
                </h5>
                <p>
                  If it is the correct item but you are dissatisfied, we can
                  help set up a return within 30 days of the delivery date under
                  Return Policy.
                </p>

                <h5 class="mb-0">
                  What if my open box or clearance item is the wrong item?
                </h5>

                <p>
                  We can assist with open box or clearance items however
                  resolution options are limited.
                </p>

                <h5 class="mb-0">
                  What do I do if I am instructed to return my original item but
                  I don’t have the original packaging?
                </h5>

                <p>
                  You can return the item in its original packaging or a similar
                  box if the packaging has been damaged/discarded.
                </p>

                <p>
                  Class Design is unable to provide boxes or packaging for the
                  return.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
