<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->

<div class="promo-carousel bg-dark text-white text-center cursor-pointer">
  <div
    class="promo-carousel-allitems w-100 text-center"
    #allitems
    [style]="{ top: top + 'px' }"
  >
    <div class="promo-carousel-item text-center">
      <small>Check out our deals for today</small>
    </div>
    <ng-container *ngFor="let product of allProducts">
      <a (click)="navigate(product)" class="text-white">
        <div class="promo-carousel-item text-center">
          <small> {{ product.name }} &nbsp;&nbsp;&nbsp;</small>
          <small class="text-decoration-underline thin">{{
            product.promoPrice | currency : "USD"
          }}</small
          ><small> &nbsp;&nbsp;&nbsp; {{ getDeal(product) }}</small>
        </div></a
      >
    </ng-container>
  </div>
</div>
