<div class="bg"></div>

<article class="box-signin d-flex justify-content-center align-items-center">
  <div
    class="box-signin-forms col-lg-7 col-md-10 col-sm-12 animate__animated animate__fadeInUp"
  >
    <div class="d-flex px-5">
      <div class="me-auto w-100">
        <a routerLink="/"
          ><i class="bi h3 bi-arrow-left text-dark"></i>
          <span class="text-decoration-underline ms-3 mb-3 text-black"
            >Return to Home</span
          ></a
        >
      </div>
    </div>
    <div class="bg-white m-5">
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item border-bottom border-top" role="presentation">
          <button
            class="nav-link active w-100 rounded-0 p-3"
            id="pills-home-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-home"
            type="button"
            role="tab"
            aria-controls="pills-home"
            aria-selected="true"
          >
            <i class="bi bi-box-arrow-in-right me-2"></i> Sign In
          </button>
        </li>
        <li class="nav-item border-bottom border-top" role="presentation">
          <button
            class="nav-link w-100 rounded-0 p-3"
            id="pills-profile-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-profile"
            type="button"
            role="tab"
            aria-controls="pills-profile"
            aria-selected="false"
          >
            <i class="bi bi-person-lines-fill me-2"></i> Create new account
          </button>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div
          class="tab-pane fade show active p-5"
          id="pills-home"
          role="tabpanel"
          aria-labelledby="pills-home-tab"
          tabindex="0"
        >
          <div class="row">
            <signin-form class="col-12 col-lg-12 mt-3 p-3"></signin-form>
          </div>
        </div>
        <div
          class="tab-pane fade p-5"
          id="pills-profile"
          role="tabpanel"
          aria-labelledby="pills-profile-tab"
          tabindex="0"
        >
          <div class="row">
            <signup-form class="col-12 col-lg-12 p-3"></signup-form>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
