<article class="container">
  <div class="separador-menu"></div>
  <div class="mx-auto col-xl-6 col-lg-7 col-md-10 col-sm-12" @fadeUp>
    <div class="bg-white p-4">
      <div class="tab-content" id="pills-tabContent">
        <div
          class="tab-pane fade"
          [class]="moduleActive ? 'show active' : null"
          id="pills-home"
          role="tabpanel"
          aria-labelledby="pills-home-tab"
          tabindex="0"
        >
          <div class="row">
            <div class="title col-12" @fadeUp1>
              <h2 class="fw-bolder text-center">
                Sign-in to access your account
              </h2>
              <p class="text-center">Introduce your access information</p>
              <div class="separador-centrado"></div>
            </div>
            <app-signin-form
              @fadeUp2
              class="col-12 col-lg-12 mt-3 p-3"
            ></app-signin-form>
            <div class="px-3 col-12" @fadeUp3>
              <button
                (click)="moduleActive = !moduleActive"
                class="btn btn-outline-dark w-100 mb-4"
                type="button"
              >
                Register
              </button>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          [class]="!moduleActive ? 'show active' : null"
          id="pills-member"
          role="tabpanel"
          aria-labelledby="pills-member-tab"
          tabindex="0"
        >
          <div class="row">
            <div class="title col-12">
              <h2 class="fw-bolder text-center" @fadeUp>
                Sign-up to create your account
              </h2>
              <p class="text-center" @fadeUp1>Input required fields</p>
              <div class="separador-centrado"></div>
            </div>
            <app-signup-form
              @fadeUp3
              class="col-12 col-lg-12 p-3"
            ></app-signup-form>
            <div class="px-3 col-12" @fadeUp4>
              <button
                (click)="moduleActive = !moduleActive"
                class="btn btn-outline-dark w-100"
                type="button"
                role="tab"
              >
                Sign In
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="border-bottom"></div>
</article>

<article class="container mt-5">
  <h2 class="fw-bold over-offer">Complete your home</h2>
  <div class="separador-start"></div>
  <app-offers [category]="'all'"></app-offers>
</article>
