.card-delete {
  padding: 0.4rem !important ;
}
app-counter {
  transform: scale(0.7);
  margin-left: auto;
  display: absolute !important;
  top: 0px;
  right: 10px;
}
.card-title {
  font-weight: 700;
  font-size: 15px;
}
.card-secondary {
  font-size: 13px;
}
