<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/mouse-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<div
  class="card mb-3 border-0 shadow-sm rounded-0"
  style="border-left: 3px solid var(--bs-dark)"
>
  <div class="row g-0">
    <div
      class="col-md-3 col-4 p-2 card-background"
      [style]="'background-image:url(' + background + ')'"
    ></div>
    <div class="col-md-9 col-8 p-0">
      <div class="card-body d-flex p-0 p-3">
        <div class="w-100" *ngIf="!size; else sizeData">
          <p class="card-title mb-0">
            <strong>{{ product.name }}</strong>
          </p>
          <p class="card-secondary mb-0">{{ product.reference }}</p>
          <p class="card-secondary mb-0">
            {{ product.price | currency : "USD" }}
          </p>
        </div>

        <ng-template class="w-100" #sizeData>
          <div>
            <h5 class="mb-0">{{ product.name }}</h5>
            <p class="card-secondary mb-2">{{ product.reference }}</p>
            <p class="card-secondary mb-0">{{ product.dimentions }}</p>
            <h5 *ngIf="!counter" class="mb-0">Qty: {{ itemCount }}</h5>
            <h6 class="card-title">{{ product.price | currency : "USD" }}</h6>
          </div>
        </ng-template>
        <app-counter
          *ngIf="counter"
          class="mt-5"
          [number]="itemCount"
          (numberCount)="numberCount($event)"
        ></app-counter>
        <div class="mt-5 pt-2" (click)="numberCount(0)">
          <img
            alt="trash icon"
            #imgTrash
            (mouseover)="imgTrash.src = 'assets/icons/trash-gold.svg'"
            (mouseout)="imgTrash.src = 'assets/icons/trash.svg'"
            src="assets/icons/trash.svg"
            height="13px"
            class="cursor-pointer"
          />
        </div>
      </div>
    </div>
  </div>
</div>
