.card-delete {
  padding: 0.4rem !important ;
}
app-counter {
  transform: scale(0.7);
  margin-left: auto;
  display: absolute !important;
  top: 0px;
  right: 10px;
}
.card-title {
  font-weight: 700;
  font-size: 14px;
}
.card-secondary {
  font-size: 13px;
}
.card {
  transition: all 0.5s;
  background: var(--bg-gray);
  border: 1px solid transparent;
}
.card-background {
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  mix-blend-mode: multiply;
  transition: all 0.5s !important;
}
