.btn-chatbox {
  position: fixed;
  bottom: 7px;
  right: 7px;
  z-index: 11;
}
.chatbox-form {
  width: 350px;
  position: relative;
  transition: all 0.5s;
  right: 0px;
  position: fixed;
  bottom: 97px;
  right: 7px;
  z-index: 11;
}
.hide-form {
  right: -390px;
}
