<!-- eslint-disable @angular-eslint/template/elements-content -->
<div
  class="chatbox-form rounded-2 bg-white"
  [ngClass]="{ 'hide-form': hideForm }"
>
  <div class="bg-dark text-bg-dark p-3 d-flex position-relative rounded-top">
    <h6 class="mb-0"><i class="bi bi-send-fill"></i> Send us a message</h6>
    <button
      class="btn-close btn-close-white ms-auto opacity-100"
      (click)="hideForm = true"
    ></button>
  </div>
  <app-contact-form (hideForm)="closeChat($event)"></app-contact-form>
</div>
<button
  @fadeUp
  id="scrollTop"
  class="btn btn-chatbox bg-dark btn-outline-dark p-sm-3 p-md-3 p-lg-3"
  (click)="hideForm = !hideForm"
>
  <img
    alt="Dend contact icon"
    src="assets/icons/send-diagonal.svg"
    class="w-100 cursor-pointer mb-lg-3"
  />
</button>
