.btn-chatbox {
  position: fixed;
  right: 15px;
  z-index: 999999;
  width: 55px;
  height: 55px;
}

.chatbox-form {
  width: 350px;
  position: relative;
  transition: all 0.5s;
  position: fixed;
  z-index: 999999;
}
.hide-form {
  right: -390px;
}
