<div>
  <div
    class="image-showroom"
    [style]="
      'background-image:url(' + url + 'classapi/images/showrooms/home/bed.png)'
    "
  >
    <div class="image-showroom-content p-lg-5 p-md-3 p-sm-1 w-75">
      <h2 class="text-white fw-bolder">Bedroom</h2>
      <div class="image-showroom-buttons">
        <a
          routerLink="products/bedroom"
          (click)="navigate('Bedroom')"
          class="btn btn-outline-light home-explore py-1 px-4 w-25"
          >Explore</a
        >
      </div>
    </div>

    <!-- <popup
      [data]="{
        top: '45%',
        left: '50%',
        id: '37',
      }"
    ></popup>
    <popup
      [data]="{
        top: '20%',
        left: '70%',
        id: '38',
      }"
    ></popup>
    <popup
      [data]="{
        top: '35%',
        left: '20%',
        id: '36',
      }"
    ></popup> -->

    <div class="image-showroom-overlay"></div>
  </div>
</div>
