.categories {
  padding: 10px;
  border-top: 1px solid;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
}

.subcategories_list_item {
  padding: 10px 20px;
  border-top: 1px solid lightgray;
  cursor: pointer;
  height: 45px;
}
.categories:hover,
.subcategories_list_item:hover {
  background: rgb(242, 242, 242);
}
/*********************** ACCORDION *********************/
.accordion-button:not(.collapsed) {
  background-color: var(--bs-light);
  color: var(--secondary-color);
}
.accordion-button:focus {
  box-shadow: none;
}
select:focus {
  box-shadow: none;
}
select option {
  border-radius: 0px;
}
.accordion-header button {
  font-weight: 400;
  transition: all 0.5s;
}
.accordion-header button:hover {
  color: var(--secondary-color);
}
/******************** NAV **************/
.side-nav-link {
  border-top: var(--bs-border-width) var(--bs-border-style)
    var(--bs-border-color) !important;
  font-weight: 400;
  font-size: 1rem;
}
h4 {
  font-size: 1.1rem;
}
