* {
  font-size: 10px !important;
}
.card-text {
  font-size: 10px !important;
}
.btn-social {
  top: 20px;
  right: 20px;
}
.share {
  font-size: 0.7rem;
}
.card {
  min-height: 90px;
  background: white;
  border-radius: 15px;
  width: 195px !important;
}
.card img {
  mix-blend-mode: multiply;
}

.card-footer a {
  color: var(--bs-dark) !important;
}
.card-footer a:hover {
  color: white !important;
}
.w-85 {
  width: 85px !important;
  margin: 0px 5px;
}
.h5 {
  font-size: 1.05rem;
}
.card-background {
  height: 130px;
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  mix-blend-mode: multiply;
  transition: all 0.5s !important;
}
@media (max-width: 768px) {
  .card-background {
    display: none;
  }
  .card {
    min-height: 90px;
    background: white;
    border-radius: 15px;
    width: 130px !important;
  }
  .d-sm-none {
    display: none;
  }
}
