<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<div
  [ngClass]="activeColor || selected ? 'selected' : null"
  (click)="selectColor(colorName)"
  class="color-select rounded-pill shadow-sm mb-2"
  [style]="
    'background:' +
    background +
    ';background-image: url(' +
    urlImage +
    ') !important'
  "
  [title]="colorName | uppercase"
>
  <div
    [style]="
      'background-image: url(' +
      check +
      ') !important;width:100%;height:100%;background-size:cover'
    "
  ></div>
</div>
