.color-select {
  width: 25px;
  height: 25px;
  border: 2px solid white;
  cursor: pointer;
  transition: all 0.8s;
}
.color-select:hover {
  box-shadow: var(--bs-box-shadow) !important;
}
.selected {
  background-image: url("../../../../assets/images/app/check.png") !important;
  background-size: cover !important;
  box-shadow: var(--bs-box-shadow) !important;
}
