.color-select {
  width: 25px;
  height: 25px;
  border: 2px solid white;
  cursor: pointer;
  transition: all 0.8s;
}
.color-select:hover {
  box-shadow: 0 0 0 3px rgba(203, 161, 53, 0.289) !important;
}
.selected {
  background-image: url("../../../../assets/images/app/check.png") !important;
  background-size: cover !important;
  box-shadow: 0 0 0 3px rgba(203, 161, 53, 0.289) !important;
  outline: 1px solid #cba135;
}
