<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<div class="bg-white">
  <div class="row">
    <div class="col-lg-3 col-5 p-3 mobile-out">
      <h4 class="mb-0 cursor-pointer hover-gold" (click)="showHideFilters()">
        <i class="bi bi-sliders2 mb-2"></i>
        {{ !open ? "Show Filters" : "Hide Filters" }}
      </h4>
    </div>
    <div class="col-lg-3 col-6 p-3 pc-out">
      <h4
        class="mb-0 hb cursor-pointer hover-gold"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasFilters"
        aria-controls="offcanvasFilters"
      >
        <i class="bi bi-sliders2 mb-2"></i>
        Show Filters
      </h4>
    </div>
    <div class="col-lg-7 col-md-3 mobile-out p-3"></div>
    <div class="col-lg-2 col-md-4 col-6 p-3">
      <select
        ngModel
        #sortSelected="ngModel"
        class="form-select rounded-pill border-black mb-0 form-select-sm selectCategoryFilter hb"
        name="category"
        (change)="sortProductList(sortSelected.value)"
      >
        <option class="rounded-0" value="">Best Selling</option>
        <option class="rounded-0" value="priceasc">Price (High to Low)</option>
        <option class="rounded-0" value="pricedesc">Price (Low to High)</option>
        <option class="rounded-0" value="stock">In Stock</option>
        <option class="rounded-0" value="liked">Top Liked</option>
        <option class="rounded-0" value="deals">Deals</option>
        <option class="rounded-0" value="new">New Arrivals</option>
      </select>
    </div>
  </div>
</div>
<div
  class="offcanvas offcanvas-start"
  tabindex="-1"
  id="offcanvasFilters"
  aria-labelledby="offcanvasFiltersLabel"
>
  <div class="offcanvas-header">
    <button
      type="button"
      class="btn-close ms-auto opacity-100"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>

  <div class="offcanvas-body">
    <app-products-filter
      [categorySelected]="categorySelected"
      [subcategorySelected]="subcategorySelected"
    ></app-products-filter>
  </div>
</div>
