<div class="card rounded-0">
  <div class="row g-0 rounded-0">
    <div class="col-md-5 position-relative">
      <p
        class="bg-dark p-1 px-3 h4 text-white rounded-0 position-absolute cursor-default"
        title="New product"
        style="left: 0px"
      >
        -40%
      </p>
      <img
        [src]="'./assets/images/' + product.category + '/products/productx.png'"
        class="img-fluid"
        [alt]="product.name"
      />
    </div>
    <div class="col-md-7">
      <div class="card-body p-3">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-title">{{ product.reference }}</p>
        <p class="card-text">
          <a
            (click)="navigate(product.id, product.name)"
            class="btn btn-sm btn-outline-dark rounded-0 w-100 card-button"
            >Details</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
