<footer class="border-top">
  <div class="container footer-container mt-3">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-12 mb-5 center-mobile">
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a
              href="tel:+34643152892"
              class="btn btn-outline-dark w-100 rounded-0"
              >Call to us</a
            >
          </li>
          <li class="nav-item mb-2">
            <a
              href="mailto:contact@classdesignhome.com"
              class="btn btn-outline-dark w-100 rounded-0"
              >Write to us</a
            >
          </li>
        </ul>
      </div>
      <div class="col-lg-2 mobile-out"></div>
      <div class="col-lg-2 col-md-2 col-6 mb-3 center-mobile">
        <h5>Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a routerLink="/aboutus" class="nav-link p-0 text-body-secondary"
              >Home</a
            >
          </li>
          <li class="nav-item mb-2">
            <a routerLink="/aboutus" class="nav-link p-0 text-body-secondary"
              >Us</a
            >
          </li>
          <li class="nav-item mb-2">
            <a
              routerLink="/collections"
              class="nav-link p-0 text-body-secondary"
              >Collections</a
            >
          </li>
          <li class="nav-item mb-2">
            <a
              routerLink="/products/products"
              class="nav-link p-0 text-body-secondary"
              >Shop</a
            >
          </li>
          <li class="nav-item mb-2">
            <a routerLink="/contact" class="nav-link p-0 text-body-secondary"
              >Contact</a
            >
          </li>
        </ul>
      </div>
      <div class="col-lg-2 col-6 mb-3 center-mobile">
        <h5>Products</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2" *ngFor="let category of allcategories">
            <a
              (click)="setRoute(category.category)"
              class="nav-link p-0 text-body-secondary cursor-pointer"
              >{{ category.category | capitalize }}</a
            >
          </li>
        </ul>
      </div>

      <div class="col-lg-4 col-12 mx-auto mb-3 center-mobile">
        <form
          ngForm
          #formNewsletter="ngForm"
          (submit)="sendNewsLetter(formNewsletter)"
        >
          <h5>Subscribe to our newsletter</h5>
          <p>Monthly digest of what's new and exciting from us.</p>
          <div class="d-flex flex-column flex-sm-row w-100">
            <label for="newsletter1" class="visually-hidden"
              >Email address</label
            >
            <input
              ngModel
              #newsletter="ngModel"
              type="email"
              email="true"
              name="email"
              class="form-control rounded-0 me-0"
              placeholder="Email"
            />

            <button
              [disabled]="formNewsletter.invalid"
              class="btn btn-dark rounded-0 ms-0"
              type="submit"
            >
              Subscribe
            </button>
          </div>
        </form>
        <div class="w-100 mt-4">
          <a
            href="https://www.facebook.com/profile.php?id=100078056169651"
            target="_blank"
            class="text-dark"
            ><i class="bi bi-facebook me-3 h4 cursor-pointer"></i
          ></a>
          <a
            href="https://www.instagram.com/classdesignhome/"
            target="_blank"
            class="text-dark"
            ><i class="bi bi-instagram mx-3 h4 cursor-pointer"></i
          ></a>
        </div>
      </div>
    </div>

    <div
      class="d-flex flex-column flex-sm-row justify-content-between pt-4 mt-4 border-top center-mobile"
    >
      <p>&copy; 2024 Class Design Home. All rights reserved.</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3">
          <a class="link-body-emphasis" href="#"
            ><svg class="bi" width="24" height="24">
              <use xlink:href="#twitter" /></svg
          ></a>
        </li>
        <li class="ms-3">
          <a class="link-body-emphasis" href="#"
            ><svg class="bi" width="24" height="24">
              <use xlink:href="#instagram" /></svg
          ></a>
        </li>
        <li class="ms-3">
          <a class="link-body-emphasis" href="#"
            ><svg class="bi" width="24" height="24">
              <use xlink:href="#facebook" /></svg
          ></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
