<div class="separador-menu"></div>
<article class="container">
  <div class="title text-center text-content my-5">
    <!-- <p class="mb-0">Tracking area</p> -->
    <h1 class="fw-bolder" @fadeUp>Product Journey</h1>
    <div class="separador-centrado mb-5 mt-3" @fadeUp1></div>
  </div>
</article>

<article class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-12 mx-auto">
      <form
        ngForm
        #trackingForm="ngForm"
        (submit)="getTrackinNumber(trackingForm)"
      >
        <h5 class="text-center" @fadeUp2>
          Enter order number or tracking number
        </h5>
        <p class="text-center" @fadeUp3>
          You can locate your order number or tracking number in the order
          confirmation email.
        </p>
        <div class="d-flex flex-column flex-sm-row w-100" @fadeLeft>
          <input
            ngModel
            #tracking="ngModel"
            type="text"
            name="trackingNumber"
            class="form-control rounded-0 me-0"
            placeholder="Order number or Tracking number"
          />

          <button
            [disabled]="trackingForm.invalid"
            class="btn px-5 btn-dark rounded-0 ms-0"
            type="submit"
          >
            Search
          </button>
        </div>
      </form>
    </div>
  </div>
</article>
<ng-container *ngIf="order.items !== undefined">
  <article @fadeUp class="container my-4">
    <div class="separador-menu"></div>
    <h2 class="h5">Order: {{ order.order }}</h2>
  </article>

  <article @fadeUp1 class="container">
    <div class="text-center">
      <h4 [class]="this.getCurrentStatus().status === 5 ? 'text-danger' : null">
        {{ this.getCurrentStatus().title }}
      </h4>
      <ng-container *ngIf="this.getCurrentStatus().status === 5">
        <p
          [class]="this.getCurrentStatus().status === 5 ? 'text-danger' : null"
        >
          {{ order.canceled }}
        </p>
      </ng-container>
      <p>
        {{ this.getCurrentStatus().subtitle }}
      </p>
    </div>
    <ng-container *ngIf="this.getCurrentStatus().status !== 5">
      <div class="mx-auto">
        <div class="timeline">
          <div class="active" style="width: 0%">
            <div class="start">
              <span>Order placed</span>
            </div>
          </div>
          <div
            [class]="
              this.getCurrentStatus().status >= 1 ? 'active' : 'inactive'
            "
            style="width: 20%"
          >
            <div
              [class]="
                this.getCurrentStatus().status >= 1 ? 'start' : 'inactive-start'
              "
            >
              <span>Atelier</span>
            </div>
          </div>
          <div
            [class]="
              this.getCurrentStatus().status >= 2 ? 'active' : 'inactive'
            "
            style="width: 20%"
          >
            <div
              [class]="
                this.getCurrentStatus().status >= 2 ? 'start' : 'inactive-start'
              "
            >
              <span>Oceanic</span>
            </div>
          </div>
          <div
            [class]="
              this.getCurrentStatus().status >= 3 ? 'active' : 'inactive'
            "
            style="width: 20%"
          >
            <div
              [class]="
                this.getCurrentStatus().status >= 3 ? 'start' : 'inactive-start'
              "
            >
              <span>Finale</span>
            </div>
          </div>
          <div
            [class]="
              this.getCurrentStatus().status >= 4 ? 'active' : 'inactive'
            "
            style="width: 20%"
          >
            <div
              [class]="
                this.getCurrentStatus().status >= 4 ? 'start' : 'inactive-start'
              "
            >
              <span>Roadshow</span>
            </div>
          </div>
          <div
            [class]="
              this.getCurrentStatus().status === 6 ? 'active' : 'inactive'
            "
            style="width: 20%"
          >
            <div
              [class]="
                this.getCurrentStatus().status === 6
                  ? 'start'
                  : 'inactive-start'
              "
            >
              <span>Order delivered</span>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </article>

  <article @fadeUp2 class="container">
    <!--*ngIf="order.items != undefined" -->
    <div class="container">
      <div class="p-3 sticky-lg-top details">
        <ng-container *ngIf="order.trackingNumber">
          <p>
            <span class="hb">Tracking number:</span>
            {{ order.trackingNumber }}
          </p>
        </ng-container>
        <p *ngIf="order.shipping">
          <span class="hb">Shipping address:</span>
          {{
            order.shipping.shippingAddress +
              order.shipping.shippingAddress2 +
              ", " +
              order.shipping.shippingZip +
              ", " +
              order.shipping.shippingCity +
              ", " +
              order.shipping.shippingState +
              order.shipping.shippingCountry
          }}
        </p>
        <p><span class="hb">Purchase date:</span> {{ order.date }}</p>
      </div>
    </div>
  </article>
  <article @fadeUp3 class="container pt-4 border-top">
    <h2 class="h5">Item Ordered</h2>
    <ng-container *ngFor="let product of order.cartProducts">
      <div class="p-3">
        <div class="bg-gray rounded-2 p-2">
          <div class="row">
            <div class="col-lg-4 d-flex align-items-center">
              <p class="mb-0">
                <img
                  [src]="getImage(product.product)"
                  [alt]="product.product.name"
                  height="90px"
                  style="mix-blend-mode: multiply; vertical-align: middle"
                  class="mx-2"
                />
              </p>
              <p class="mb-0">
                <span class="hb">{{ product.product.name }}</span
                ><br /><span> {{ product.product.reference }}</span>
              </p>
            </div>
            <div
              class="col-lg-4 d-flex justify-content-center align-items-center"
            >
              <p class="hb mb-0">Qty: {{ product.count }}</p>
            </div>
            <div
              class="col-lg-4 d-flex justify-content-center align-items-center"
            >
              <p class="hb mb-0">
                {{ product.product.price | currency : "USD" }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <div class="d-flex justify-content-end p-3">
      <div class="me-3">
        <p class="mb-0">Product total</p>
        <p class="mb-0">Shipping</p>
        <p class="mb-0">Taxes</p>
        <p class="hb border-top pt-2">Total</p>
      </div>
      <div class="mx-2 text-end">
        <p class="mb-0">{{ order.amount | currency : "USD" }}</p>
        <p class="mb-0">$0.00</p>
        <p class="mb-0">{{ order.taxes | currency : "USD" }}</p>
        <p class="hb border-top pt-2">
          {{ order.amount * 1 + order.taxes * 1 | currency : "USD" }}
        </p>
      </div>
    </div>
    <ng-container *ngIf="showCancel && this.getCurrentStatus().status !== 5">
      <div class="col-lg-12 col-12 p-3">
        <button class="btn btn-dark px-3" (click)="cancelOrder()">
          Cancel my order {{ timeCountDown }}
        </button>
      </div>
    </ng-container>
  </article>
</ng-container>
<article class="container mt-5">
  <div class="border-bottom mb-5"></div>
  <h2 class="fw-bold over-offer">Complete your home</h2>
  <div class="separador-start"></div>
  <app-offers [category]="'products'"></app-offers>
</article>
