.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
.muted-step {
  color: #f1f2f2 !important;
}
.muted-step .warning {
  background: #f1f2f2 !important;
}

.details {
  top: 120px;
}
.timeline {
  padding: 5rem 0;
  transition: all 0.5s;
}
.timeline .active {
  background: #ae7204;
  height: 0.5rem;
  float: left;
  position: relative;
}
.timeline .inactive {
  background: #eee;
  height: 0.5rem;
  float: left;
  position: relative;
}
.timeline .start {
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  right: 0;
  background: #ae7204;
  border-radius: 50%;
  top: -0.5125rem;
  right: -0.625rem;
  z-index: 5;
  background-image: url("https://testing.classdesign.us/classapi/images/app/check.png");
  background-size: cover;
}
.timeline .start span {
  position: absolute;
  font-size: 14px;
  font-weight: 700;
  width: 200px;
  right: -90px;
  top: 30px;
  text-align: center;
}
.timeline .inactive-start {
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  right: 0;
  background: lightgray;
  border-radius: 50%;
  top: -0.5125rem;
  right: -0.625rem;
  z-index: 5;
}
.timeline .inactive-start span {
  position: absolute;
  font-size: 14px;
  font-weight: 700;
  width: 200px;
  right: -90px;
  top: 30px;
  text-align: center;
  color: lightgray;
}

/* @media (max-width: 767px) {
  ul.timeline:before {
    left: 40px;
  }

  ul.timeline > li > .timeline-panel {
    width: calc(100% - 90px);
    width: -moz-calc(100% - 90px);
    width: -webkit-calc(100% - 90px);
  }

  ul.timeline > li > .timeline-badge {
    left: 15px;
    margin-left: 0;
    top: 16px;
  }

  ul.timeline > li > .timeline-panel {
    float: right;
  }

  ul.timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }

  ul.timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
} */
