<div class="separador7"></div>
<article class="mt-5 pt-4 bg-light">
  <div class="container">
    <div class="d-flex p-sm-2 p-lg-3 h3 mb-0">
      <div class="me-auto">
        <a routerLink="/"><i class="bi bi-arrow-left-short text-dark"></i></a>
      </div>
    </div>
  </div>
</article>
<article class="bg-light pb-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-12">
        <productGalery [id]="id"></productGalery>
      </div>
      <div class="col-md-6 col-12">
        <productDescription [id]="id"></productDescription>
      </div>
    </div>
  </div>
</article>
<div class="separador7 bg-light"></div>
<article class="mt-5">
  <app-offers [category]="category"></app-offers>
</article>
