<div class="separador-menu"></div>
<app-full-carrousel [product]="product"></app-full-carrousel>
<article class="pb-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-12 mb-4 z-0">
        <app-product-galery
          class="sticky-lg-top sticky-md-top"
          [product]="product"
        ></app-product-galery>
      </div>
      <div class="col-md-6 col-12 p-3">
        <app-product-description [product]="product"></app-product-description>
        <app-descripption-accordion
          @fadeUp7
          [product]="product"
        ></app-descripption-accordion>
      </div>
    </div>
  </div>
</article>

<article class="container mt-5">
  <div class="border-bottom mb-5"></div>
  <h2 class="fw-bold over-offer">Complete your home</h2>
  <div class="separador-start"></div>
  <app-offers [category]="'products'"></app-offers>
</article>
