<div class="separador-menu"></div>
<article class="pb-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-12">
        <productGalery
          class="sticky-lg-top sticky-md-top"
          [product]="product"
        ></productGalery>
      </div>
      <div class="col-md-6 col-12">
        <productDescription [product]="product"></productDescription>
      </div>
    </div>
  </div>
</article>
<div class="separador7"></div>

<article class="my-5 container">
  <h2 class="fw-bolder">Related products</h2>
  <div class="separador-start"></div>
  <app-offers [category]="category"></app-offers>
</article>
