<div>
  <div class="image-showroom">
    <div class="image-showroom-content p-lg-5 p-md-3 p-sm-1 w-75">
      <h2 class="text-white">Bathroom</h2>
      <div class="image-showroom-buttons d-flex">
        <button class="btn btn-dark rounded-0 px-4 ms-2 card-button">
          Show rooms
        </button>
        <a
          class="btn btn-light rounded-0 ms-4 px-4 card-button"
          routerLink="/products/bathroom"
          >Products</a
        >
      </div>
    </div>
    <popup
      [data]="{
        top: '20%',
        left: '33%',
        id: '34',
      }"
    ></popup>
    <popup
      [data]="{
        top: '50%',
        left: '70%',
        id: '35',
      }"
    ></popup>
    <div class="image-showroom-overlay"></div>
  </div>
</div>
