<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<article class="smart-search-container" *ngIf="show" @fade>
  <div class="separador-menu"></div>
  <div class="p-3 text-end mx-3">
    <button
      type="button"
      class="btn-close btn-sm opacity-100 mx-3"
      data-bs-dismiss="modal"
      aria-label="Close"
      (click)="closeSearch()"
    ></button>
  </div>
  <div class="container">
    <div class="title text-center text-content my-5 d">
      <!-- <p class="mb-0">Tracking area</p> -->
      <h1 class="fw-bolder" @fadeUp>Search Our Catalog</h1>
      <div class="separador-centrado mb-5 mt-3" @fadeUp1></div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-10 col-12 mx-auto position-relative">
        <form ngForm #trackingForm="ngForm">
          <p class="text-center" @fadeUp3>
            Search for the products you need using keywords such as beds,
            vanities, materials, color, etc...
          </p>
          <div class="d-flex flex-column flex-sm-row w-100" @fadeLeft>
            <input
              [(ngModel)]="actualSearch"
              #search="ngModel"
              type="text"
              name="search"
              class="form-control rounded-0 me-0"
              placeholder="Find your furniture"
              (focus)="getSearchList()"
            />

            <button
              class="btn px-5 btn-dark rounded-0 ms-0 d-flex"
              type="button"
              (click)="applySearch(search.value)"
            >
              Search
            </button>
          </div>
          <div
            class="bg-white p-0 position-absolute text-end overflow-y-scroll search-list-container"
            *ngIf="showSearchList"
          >
            <button
              type="button"
              class="btn-close btn-sm opacity-100 m-2 me-auto"
              data-bs-dismiss="modal"
              aria-label="Close"
              (click)="showSearchList = false"
            ></button>
            <ng-container *ngFor="let search of searchList">
              <p
                class="cursor-pointer text-start hover-gold border-bottom mb-0 p-3"
                (click)="applySearch(search)"
              >
                {{ search }}
              </p>
            </ng-container>
          </div>
        </form>
      </div>
    </div>
  </div>
</article>
