.image {
  transition: all 0.5s;
  cursor: pointer;
  border: 6px solid transparent;
  outline: 2px solid transparent;
}
.image:hover {
  outline: 2px solid #cba135;
}
.imageActive {
  outline: 2px solid black;
}
