<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/elements-content -->
<article
  class="ecommerce-gallery"
  data-mdb-zoom-effect="true"
  data-mdb-auto-height="true"
>
  <p class="pc-out" @fadeUp>
    <a class="text-dark" routerLink="/">Home </a> /
    <a class="text-dark" [routerLink]="'/products/' + product.category"
      >{{ product.category | capitalize }}
    </a>
    /
    <a
      class="text-dark"
      [routerLink]="'/products/' + product.category + '/' + product.subcategory"
      >{{ product.subcategory | capitalize }}
    </a>
    / {{ product.name }}
  </p>
  <div class="pc-out" @fadeUp1>
    <div class="d-flex">
      <h1 class="bold mb-0 h5">{{ product.name }}</h1>
      <!-- <p class="ms-3">
        <span
          class="badge p-1 px-2 rounded-pill rounded-0"
          [ngClass]="product.stock ? 'bg-success' : 'bg-danger'"
          >{{ product.stock | stock }}</span
        >
      </p> -->
      <p
        (click)="shareProduct($event, product.id, product.name)"
        data-action="share/whatsapp/share"
        title="Share with friends"
      >
        <span
          class="badge p p-1 px-3 rounded-pill rounded-0 btn shadow-sm ms-2 text-bg-light"
          >Share!</span
        >
      </p>
    </div>
  </div>
  <h3 class="mt-2 mb-0 h3 color-gold pc-out" @fadeUp2>
    {{ product.price | currency : "USD" }}<br />
  </h3>
  <p class="pc-out" @fadeUp3>Material Detail: {{ product.materialDetail }}</p>
  <div class="row shadow-5">
    <div class="col-12 mb-3 position-relative px-0" @fadeUp>
      <div class="position-absolute carrousel-buttons pc-out">
        <div class="me-auto">
          <button
            class="rounded-pill btn shadow-sm btn-light"
            (click)="changeImage('prev')"
          >
            <i class="bi bi-arrow-left"></i>
          </button>
        </div>
        <div class="ms-auto">
          <button
            class="rounded-pill btn shadow btn-light"
            (click)="changeImage('next')"
          >
            <i class="bi bi-arrow-right"></i>
          </button>
        </div>
      </div>
      <button
        (click)="openFullCarousel()"
        class="col-1 btn btn-light position-absolute shadow-sm ms-auto zoom-button rounded-pill mobile-out"
      >
        <i class="bi bi-zoom-in"></i>
      </button>
      <div
        class="lightbox"
        [style]="
          'background-image:url(' + fullPicture + ');background-size:auto 100%'
        "
      ></div>
    </div>
    <ng-container *ngIf="allImages.length > 1">
      <div class="row justify-content-center">
        <div class="bullets my-3">
          <ng-container *ngFor="let thisImage of allImages; index as i">
            <button
              (click)="updatePicture(i)"
              class="bullets-points"
              [ngClass]="{ 'bullets-points-active': thisImage.state }"
            ></button>
          </ng-container>
        </div>
        <ng-container *ngFor="let thisImage of allImages; index as i">
          <div
            @fadeUp1
            class="carrousel-image-datail mobile-out"
            [ngClass]="{ imageActive: thisImage.state }"
            [style]="'background-image:url(' + thisImage.url + ')'"
            (click)="updatePicture(i)"
          ></div>
        </ng-container>
      </div>
    </ng-container>
  </div>
  <p @fadeUp2 class="text-center py-3">
    <small
      >These images are generated representations and not actual photographs.
      For additional imagery, kindly reach out to us directly.</small
    >
  </p>
</article>
