<div
  class="ecommerce-gallery"
  data-mdb-zoom-effect="true"
  data-mdb-auto-height="true"
>
  <div class="row shadow-5">
    <div class="col-12 mb-1">
      <div class="lightbox">
        <img
          #detailImg
          [src]="fullPicture"
          [alt]="product.name"
          class="ecommerce-gallery-main-img active w-100"
        />
      </div>
    </div>
    <div class="row">
      <div
        class="col-4 carrousel-image-datail"
        [ngClass]="{ imageActive: image[0] }"
      >
        <img
          (click)="updatePicture($event, detailImg, 0)"
          [src]="miniPicture1"
          [alt]="product.name"
          class="w-100"
        />
      </div>

      <div
        class="col-4 carrousel-image-datail"
        [ngClass]="{ imageActive: image[1] }"
      >
        <img
          (click)="updatePicture($event, detailImg, 1)"
          [src]="miniPicture3"
          [alt]="product.name"
          class="w-100"
        />
      </div>
    </div>
  </div>
</div>
