.carrousel-image-datail:hover {
  outline: 1px solid var(--secondary-color);
}
.imageActive {
  outline: 1px solid var(--secondary-color);
}
.lightbox {
  width: 100%;
  overflow: hidden;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
}
.zoom-button {
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  position: relative;
  z-index: 99;
  font-size: 18px;
  text-align: center;
}
.zoom-button .bi::before {
  font-size: 18px;
}
.carrousel-image-datail {
  flex: 0 0 auto;
  width: 70px;
  height: 70px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  transition: all 0.5s;
  cursor: pointer;
  border: 9px solid white;
  margin: 3px;
}
.bullets-points {
  height: 8px !important;
  width: 8px !important;
  background: var(--bg-gray);
  border: none;
  margin: 5px;
  border-radius: 50%;
  padding: 0px;
}
.bullets {
  text-align: center;
  margin: auto;
}
.bullets-points-active {
  background: var(--secondary-color);
}
.carrousel-buttons {
  top: 45%;
  width: 90%;
  margin-left: 5%;
  display: flex;
}
.carrousel-buttons button {
  border: none;
  width: 40px;
  height: 40px;
  font-size: 18px;
}
