.carrousel-image-datail:hover {
  outline: 1px solid var(--secondary-color);
}
.imageActive {
  outline: 1px solid var(--secondary-color);
}
.lightbox {
  width: 100%;
  overflow: hidden;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
}

.carrousel-image-datail {
  flex: 0 0 auto;
  width: 100px;
  height: 100px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  transition: all 0.5s;
  cursor: pointer;
  border: 9px solid white;
  margin: 3px;
}
