<div
  class="ecommerce-gallery"
  data-mdb-zoom-effect="true"
  data-mdb-auto-height="true"
>
  <div class="row shadow-5">
    <div class="col-12 mb-3 px-0">
      <div
        class="lightbox"
        [style]="'background-image:url(' + fullPicture + ')'"
      ></div>
    </div>
    <div class="row">
      <div
        class="carrousel-image-datail"
        *ngFor="let thisImage of allImages; index as i"
        [ngClass]="{ imageActive: image[i] }"
        [style]="'background-image:url(' + url + thisImage + ')'"
        (click)="updatePicture($event, i)"
      ></div>
    </div>
  </div>
</div>
