.card-text {
  font-size: 12px;
}
.button-quick {
  transition: all 0.5s;
}
.button-quick button {
  font-size: 12px;
}
.btn-social {
  top: 20px;
  right: 20px;
}
.share {
  font-size: 0.7rem;
}
.card {
  min-height: auto;
  background: var(--bg-gray);
}
.card img {
  mix-blend-mode: multiply;
}

.card-footer a {
  color: var(--bs-dark) !important;
}
.card-footer a:hover {
  color: white !important;
}
.card-background {
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  mix-blend-mode: multiply;
  transition: all 0.5s !important;
}

.bi-suit-heart:hover {
  color: var(--secondary-color);
}
.color-select {
  width: 25px;
  height: 25px;
  border: 1px solid black;
  cursor: pointer;
  transition: all 0.8s;
}
.p-card {
  padding: 1.2rem;
}
@media (min-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .color-select {
    width: 15px;
    height: 15px;
    border: 1px solid black;
    cursor: pointer;
    transition: all 0.8s;
  }
  .card-title-name {
    font-size: 0.7rem;
    height: 45px;
  }
}
@media (min-width: 600px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .color-select {
    width: 25px;
    height: 25px;
    border: 1px solid black;
    cursor: pointer;
    transition: all 0.8s;
  }
  .card-title-name {
    font-size: 0.95rem;
    height: 45px;
  }
}
