<div
  class="card p-3 position-relative rounded-0 border-0 mx-auto animate__animated animate__fadeIn shadow-sm"
  style="width: 100%"
>
  <div class="position-absolute d-flex">
    <button class="btn btn-dark rounded-pill btn-sm" title="Share with friends">
      <i class="bi bi-share"></i>
    </button>
    <p
      *ngIf="product.new == 1"
      class="bg-dark small p-1 px-2 text-white rounded-pill btn-sm cursor-default mb-0 ms-3"
      title="New product"
    >
      New
    </p>
  </div>
  <img
    [src]="
      './assets/images/' +
      (product.category | spaces) +
      '/products/productx.png'
    "
    class="card-img-top rounded-0"
    [alt]="product.name"
  />

  <div class="card-body p-0 mt-4">
    <div class="d-lg-flex d-md-flex d-sm-block">
      <h5 class="card-title">{{ product.name }}</h5>
      <p class="ms-auto mb-0">{{ product.price | currency : "USD" }}</p>
    </div>
    <div class="d-flex">
      <p class="card-text small mb-0 w-100">{{ product.reference }}</p>

      <div class="ms-auto h-100 w-100 text-end">
        <a
          *ngIf="product.stock && !product.membersOnly"
          (click)="navigate(product.id, product.name)"
          class="rounded-0 w-100 ms-1 card-button cursor-pointer"
          >Details <i class="bi bi-arrow-right-short"></i
        ></a>
        <a
          *ngIf="!product.stock"
          (click)="navigate(product.id, product.name)"
          class="rounded-0 w-100 ms-1 card-button text-decoration-line-through cursor-pointer"
          >Stock <i class="bi bi-arrow-right-short"></i
        ></a>
        <a
          *ngIf="product.stock && product.membersOnly"
          (click)="navigate(product.id, product.name)"
          class="rounded-0 w-100 ms-1 card-button cursor-pointer"
          >Members <i class="bi bi-arrow-right-short"></i
        ></a>
      </div>
    </div>
  </div>
  <div class="card-footer d-flex border-top-0 bg-none p-0"></div>
</div>
