<div
  class="card p-3 position-relative rounded-0 border-0 mx-auto animate__animated animate__fadeIn shadow-sm"
  style="width: 100%"
>
  <div class="position-absolute d-flex z-3">
    <button class="btn btn-dark rounded-pill btn-sm" title="Share with friends">
      <i class="bi bi-share"></i>
    </button>
    <p
      *ngIf="product.new == 1"
      class="bg-dark p-1 px-2 text-white rounded-pill btn-sm cursor-default mb-0 ms-3"
      title="New product"
    >
      New
    </p>
  </div>
  <img
    [src]="
      './assets/images/' +
      (product.category | spaces) +
      '/products/productx.png'
    "
    class="card-img-top rounded-0"
    [alt]="product.name"
  />
  <div class="card-body p-0 mt-4">
    <h5 class="card-title">{{ product.name }}</h5>

    <p class="ms-auto my-2">{{ product.price | currency : "USD" }}</p>
    <div class="d-flex position-relative bottom-0 w-100">
      <button
        class="btn bg-light text-start cursor-default p-0 card-text small mb-0 w-100"
      >
        {{ product.reference }}
      </button>
      <div class="ms-auto h-100 w-100 text-end">
        <button
          *ngIf="product.stock != 0 && product.membersOnly == 0"
          (click)="navigate(product.id, product.name)"
          class="bg-none border-0 rounded-0 p-0 ms-1 card-button cursor-pointer"
        >
          Details <i class="bi bi-arrow-right-short"></i>
        </button>
        <button
          *ngIf="product.stock == 0"
          (click)="navigate(product.id, product.name)"
          class="bg-none border-0 rounded-0 p-0 ms-1 card-button text-decoration-line-through cursor-pointer"
        >
          Stock <i class="bi bi-arrow-right-short"></i>
        </button>
        <button
          *ngIf="product.stock != 0 && product.membersOnly == 1"
          (click)="navigate(product.id, product.name)"
          class="bg-none border-0 rounded-0 p-0 ms-1 card-button cursor-pointer"
        >
          Members <i class="bi bi-arrow-right-short"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="card-footer d-flex border-top-0 bg-none p-0"></div>
</div>
