/*********************** ACCORDION *********************/

.accordion-button:not(.collapsed)::after {
  background-image: var(--bs-accordion-btn-icon);
}
.accordion-button:focus {
  box-shadow: none;
}
select:focus {
  box-shadow: none;
}
select option {
  border-radius: 0px;
}

option:hover {
  background-color: #212529 !important;
}
.filter {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: calc(100vh - 200px);
  margin-bottom: 50px;
}
