/*********************** ACCORDION *********************/

.accordion-button:not(.collapsed)::after {
  background-image: var(--bs-accordion-btn-icon);
}
.accordion-button:focus {
  box-shadow: none;
}
select:focus {
  box-shadow: none;
}
select option {
  border-radius: 0px;
}

option:hover {
  background-color: #212529 !important;
}

.dimentions-cards {
  transition: all 0.5s;
}
.icon-filter-size:hover {
  border: 1px solid var(--secondary-color) !important;
}
.icon-filter-size.active {
  border: 1px solid var(--secondary-color) !important;
}
