<form ngForm #signupform="ngForm" (ngSubmit)="submit(signupform)">
  <div class="row">
    <div class="mb-3 col-lg-6 col-md-12 col-12">
      <input
        ngModel
        #name="ngModel"
        type="text"
        name="name"
        class="form-control rounded-0"
        placeholder="Name*"
        required
      />
      <p *ngIf="name.touched && name.invalid">
        <i class="bi bi-exclamation-square"></i>
      </p>
    </div>
    <div class="mb-3 col-lg-6 col-md-12 col-12">
      <input
        ngModel
        #surname="ngModel"
        type="text"
        name="surname"
        class="form-control rounded-0"
        placeholder="Surname*"
        required
      />
      <p *ngIf="surname.touched && surname.invalid">
        <i class="bi bi-exclamation-square"></i>
      </p>
    </div>
    <div class="mb-3 col-lg-6 col-12">
      <input
        ngModel
        #email="ngModel"
        type="email"
        email="true"
        name="email"
        class="form-control rounded-0"
        placeholder="Email*"
        required
      />

      <p *ngIf="email.touched && email.invalid">
        <i class="bi bi-exclamation-square"></i>
      </p>
    </div>
    <div class="mb-3 col-lg-6 col-12">
      <input
        ngModel
        #phone="ngModel"
        type="tel"
        name="phone"
        class="form-control rounded-0"
        placeholder="Phone*"
        required
      />
      <p *ngIf="phone.touched && phone.invalid">
        <i class="bi bi-exclamation-square"></i>
      </p>
    </div>
    <div class="mb-3 col-lg-6 col-12">
      <input
        ngModel
        #company="ngModel"
        type="text"
        name="company"
        class="form-control rounded-0"
        placeholder="Company*"
        required
      />

      <p *ngIf="company.touched && company.invalid">
        <i class="bi bi-exclamation-square"></i>
      </p>
    </div>
    <div class="mb-3 col-lg-6 col-12">
      <input
        ngModel
        #profession="ngModel"
        type="text"
        name="profession"
        class="form-control rounded-0"
        placeholder="Profession*"
        required
      />
      <p *ngIf="profession.touched && profession.invalid">
        <i class="bi bi-exclamation-square"></i>
      </p>
    </div>
    <div class="mb-3">
      <input
        ngModel
        #password="ngModel"
        type="password"
        name="password"
        class="form-control rounded-0"
        placeholder="Password*"
        required
      />

      <p *ngIf="password.touched && password.invalid">
        <i class="bi bi-exclamation-square"></i>
      </p>
    </div>
    <div class="mb-3 d-none">
      <input
        [(ngModel)]="type"
        #userType="ngModel"
        type="text"
        name="userType"
        class="form-control rounded-0"
        required
      />
    </div>
    <div class="mt-3">
      <button
        class="btn btn-dark w-100 rounded-0"
        [disabled]="signupform.invalid"
      >
        Sign Up
      </button>
    </div>
  </div>
</form>
