<div class="row mx-auto">
  <ng-container *ngIf="products.length === 0; else productlist">
    <div class="col-lg-6 col-md-6 col-sm-12 m-auto">
      <p class="py-4 text-center w-100">No product was found</p>
    </div>
  </ng-container>
  <ng-template #productlist>
    <div class="col-12 p-0 mb-4">
      <div
        *ngIf="keyword !== ''"
        [ngClass]="
          open
            ? 'col-sm-12 col-md-6 col-lg-4 p-3'
            : 'col-sm-12 col-md-6 col-lg-3 p-3'
        "
      >
        <div class="d-flex bg-gray p-3 mb-0 rounded-4 w-auto">
          <p class="mb-0">{{ keyword }}</p>
          <button
            type="button"
            class="btn-close btn-sm opacity-100 ms-auto"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="closeSearch()"
          ></button>
        </div>
      </div>
    </div>
    <ng-container *ngFor="let product of printProduct">
      <div
        @fadeUp
        [ngClass]="
          open
            ? 'col-sm-12 col-md-6 col-lg-4 mb-4'
            : 'col-sm-12 col-md-6 col-lg-3 mb-4'
        "
      >
        <app-product-card [product]="product"></app-product-card>
      </div>
    </ng-container>
  </ng-template>
  <div class="col-12 my-4 text-center" *ngIf="more && products.length !== 0">
    <button class="btn btn-outline-dark p-3" (click)="paginateMore()">
      Show more products<br />
    </button>
  </div>
</div>
