<div class="separador-menu"></div>
<section class="container">
  <article class="mt-5 text-center">
    <div class="title col-12" @fadeUp>
      <h2 class="fw-bolder text-center">Change your Password</h2>
      <p class="text-center">Introduce your access email</p>
      <div class="separador-centrado"></div>
    </div>
  </article>
  <article class="my-4" *ngIf="!this.showChangePassword">
    <div class="row">
      <div class="mb-3 col-lg-6 col-md-12 col-12 mx-auto">
        <input
          [(ngModel)]="userEmail"
          #email="ngModel"
          type="email"
          name="email"
          email="true"
          class="form-control rounded-0"
          placeholder="Email*"
          required
        />

        <p *ngIf="email.touched && email.invalid">
          <i class="bi bi-exclamation-square"></i>
        </p>
      </div>
    </div>
    <div class="mb-3 col-lg-6 col-md-12 col-12 mx-auto">
      <button
        class="btn btn-dark mt-3"
        [disabled]="email.invalid"
        (click)="submitEmail()"
      >
        Send Email
      </button>
    </div>
  </article>
  <article *ngIf="this.showChangePassword">
    <app-password
      [tokenString]="this.token"
      (changed)="passwordChanged($event)"
    ></app-password>
  </article>
</section>
<div class="separador-menu"></div>
<div class="separador-menu"></div>
<div class="separador-menu"></div>
