<div
  id="carouselExample"
  class="carousel carousel-dark slide mx-4"
  data-bs-ride="true"
>
  <div class="carousel-inner">
    <div
      class="carousel-item"
      [ngClass]="{ active: i == 0 }"
      *ngFor="let item of items; index as i"
    >
      <div class="row">
        <div
          [ngClass]="
            cardsNum == 4 ? 'col-3' : cardsNum == 2 ? 'col-6' : 'col-12'
          "
          *ngFor="
            let product of allProducts.slice(
              i * cardsNum,
              i * cardsNum + cardsNum
            )
          "
        >
          <offer-card [product]="product"></offer-card>
        </div>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide="prev"
  >
    <span class="text-dark offer-arrow"
      ><i class="bi bi-arrow-left-short"></i
    ></span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide="next"
  >
    <span class="text-dark offer-arrow"
      ><i class="bi bi-arrow-right-short"></i
    ></span>
  </button>
</div>
