<div class="accordion rounded-0" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header rounded-0">
      <button
        class="accordion-button h3 p-4 rounded-0"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseOne"
        aria-expanded="true"
        aria-controls="collapseOne"
      >
        Billing Information
      </button>
    </h2>
    <div
      id="collapseOne"
      class="accordion-collapse collapse show"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        <form
          class="p-3"
          ngForm
          #billingform="ngForm"
          (change)="listenForm(billingform)"
        >
          <div class="billing">
            <div class="row">
              <div class="mb-3 col-lg-6 col-md-12 col-12">
                <input
                  [(ngModel)]="billing.billingName"
                  #billingName="ngModel"
                  type="text"
                  name="billingName"
                  class="form-control rounded-0"
                  placeholder="Name*"
                  required
                />
                <p *ngIf="billingName.touched && billingName.invalid">
                  <i class="bi bi-exclamation-square"></i>
                </p>
              </div>
              <div class="mb-3 col-lg-6 col-md-12 col-12">
                <input
                  [(ngModel)]="billing.billingSurname"
                  #billingSurname="ngModel"
                  type="text"
                  name="billingSurname"
                  class="form-control rounded-0"
                  placeholder="Surname*"
                  required
                />
                <p *ngIf="billingSurname.touched && billingSurname.invalid">
                  <i class="bi bi-exclamation-square"></i>
                </p>
              </div>
              <div class="mb-3 col-lg-6 col-12">
                <input
                  [(ngModel)]="billing.billingEmail"
                  #billingEmail="ngModel"
                  type="email"
                  email="true"
                  name="billingEmail"
                  class="form-control rounded-0"
                  placeholder="Email*"
                  required
                />
                <p *ngIf="billingEmail.touched && billingEmail.invalid">
                  <i class="bi bi-exclamation-square"></i>
                </p>
              </div>
              <div class="mb-3 col-lg-6 col-12">
                <input
                  [(ngModel)]="billing.billingPhone"
                  #phone="ngModel"
                  type="tel"
                  name="billingPhone"
                  class="form-control rounded-0"
                  placeholder="Phone*"
                  required
                />
                <p *ngIf="phone.touched && phone.invalid">
                  <i class="bi bi-exclamation-square"></i>
                </p>
              </div>
              <div class="mb-3 col-12">
                <input
                  [(ngModel)]="billing.billingAddress"
                  #address="ngModel"
                  type="text"
                  name="billingAddress"
                  class="form-control rounded-0"
                  placeholder="Address*"
                  required
                />
                <p *ngIf="address.touched && address.invalid">
                  <i class="bi bi-exclamation-square"></i>
                </p>
              </div>
              <div class="mb-3 col-12">
                <input
                  [(ngModel)]="billing.billingAddress2"
                  #address2="ngModel"
                  type="text"
                  name="billingAddress2"
                  class="form-control rounded-0"
                  placeholder="Address (Optional)"
                />
              </div>
              <div class="mb-3 col-lg-6 col-12">
                <input
                  [(ngModel)]="billing.billingZip"
                  #zip="ngModel"
                  type="text"
                  name="billingZip"
                  class="form-control rounded-0"
                  placeholder="Zip code*"
                  required
                />
                <p *ngIf="zip.touched && zip.invalid">
                  <i class="bi bi-exclamation-square"></i>
                </p>
              </div>
              <div class="mb-3 col-lg-6 col-12">
                <input
                  [(ngModel)]="billing.billingCity"
                  #city="ngModel"
                  type="text"
                  name="billingCity"
                  class="form-control rounded-0"
                  placeholder="City*"
                  required
                />
                <p *ngIf="city.touched && city.invalid">
                  <i class="bi bi-exclamation-square"></i>
                </p>
              </div>

              <div
                class="mb-3 col-lg-6 col-12"
                [style]="
                  country.value === 'United States'
                    ? 'display:block'
                    : 'display:none'
                "
              >
                <select
                  [(ngModel)]="billing.billingState"
                  #State="ngModel"
                  name="billingState"
                  class="form-select rounded-0"
                  required
                >
                  <option value="" selected>State*</option>
                  <option *ngFor="let state of states" [value]="state">
                    {{ state }}
                  </option>
                </select>

                <p *ngIf="State.touched && State.invalid">
                  <i class="bi bi-exclamation-square"></i>
                </p>
              </div>
              <div class="mb-3 col-lg-6 col-12">
                <select
                  [(ngModel)]="billing.billingCountry"
                  #country="ngModel"
                  name="billingCountry"
                  class="form-select rounded-0"
                  required
                >
                  <option value="" selected>Country*</option>
                  <option *ngFor="let country of countries" [value]="country">
                    {{ country }}
                  </option>
                </select>

                <p *ngIf="country.touched && country.invalid">
                  <i class="bi bi-exclamation-square"></i>
                </p>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="accordion-item rounded-0">
    <h2 class="accordion-header">
      <button
        class="accordion-button p-4 rounded-0"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseTwo"
        aria-expanded="false"
        aria-controls="collapseTwo"
      >
        Shipping address
      </button>
    </h2>
    <div
      id="collapseTwo"
      class="accordion-collapse collapse show"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body rounded-0">
        <div class="d-flex p-2 mb-3">
          <div class="form-check ms-auto mt-4">
            <input
              [(ngModel)]="sameAddressFlag"
              #same="ngModel"
              class="form-check-input"
              type="checkbox"
              id="sameAddress"
              name="sameaddress"
              (click)="sameAddress(billingform.value)"
            />
            <label class="form-check-label" for="sameAddress">
              Use billing information
            </label>
          </div>
        </div>
        <form
          ngForm
          #shippingform="ngForm"
          class="p-3"
          (change)="listenForm(shippingform)"
        >
          <div class="billing">
            <div class="row">
              <div class="mb-3 col-lg-6 col-md-12 col-12">
                <input
                  [(ngModel)]="shipping.shippingName"
                  #shipname="ngModel"
                  type="text"
                  name="shippingName"
                  class="form-control rounded-0"
                  placeholder="Name*"
                  required
                  [disabled]="sameAddressFlag"
                />
                <p *ngIf="shipname.touched && shipname.invalid">
                  <i class="bi bi-exclamation-square"></i>
                </p>
              </div>
              <div class="mb-3 col-lg-6 col-md-12 col-12">
                <input
                  [(ngModel)]="shipping.shippingSurname"
                  #shipsurname="ngModel"
                  type="text"
                  name="shippingSurname"
                  class="form-control rounded-0"
                  placeholder="Surname*"
                  required
                  [disabled]="sameAddressFlag"
                />
                <p *ngIf="shipsurname.touched && shipsurname.invalid">
                  <i class="bi bi-exclamation-square"></i>
                </p>
              </div>
              <div class="mb-3 col-12">
                <input
                  [(ngModel)]="shipping.shippingAddress"
                  #shipaddress="ngModel"
                  type="text"
                  name="shippingAddress"
                  class="form-control rounded-0"
                  placeholder="Address*"
                  required
                  [disabled]="sameAddressFlag"
                />
                <p *ngIf="shipaddress.touched && shipaddress.invalid">
                  <i class="bi bi-exclamation-square"></i>
                </p>
              </div>
              <div class="mb-3 col-12">
                <input
                  [(ngModel)]="shipping.shippingAddress2"
                  #address2="ngModel"
                  type="text"
                  name="shippingAddress2"
                  class="form-control rounded-0"
                  placeholder="Address (Optional)"
                  [disabled]="sameAddressFlag"
                />
              </div>
              <div class="mb-3 col-lg-6 col-12">
                <input
                  [(ngModel)]="shipping.shippingCity"
                  #shipCity="ngModel"
                  type="text"
                  name="shippingCity"
                  class="form-control rounded-0"
                  placeholder="City*"
                  required
                  [disabled]="sameAddressFlag"
                />
                <p *ngIf="shipCity.touched && shipCity.invalid">
                  <i class="bi bi-exclamation-square"></i>
                </p>
              </div>
              <div class="mb-3 col-lg-6 col-12">
                <input
                  [(ngModel)]="shipping.shippingZip"
                  #shipZip="ngModel"
                  type="text"
                  name="shippingZip"
                  class="form-control rounded-0"
                  placeholder="Zip code*"
                  required
                  [disabled]="sameAddressFlag"
                />
                <p *ngIf="shipZip.touched && shipZip.invalid">
                  <i class="bi bi-exclamation-square"></i>
                </p>
              </div>
              <div
                class="mb-3 col-lg-6 col-12"
                [style]="
                  shipcountry.value === 'United States'
                    ? 'display:block'
                    : 'display:none'
                "
              >
                <select
                  [(ngModel)]="shipping.shippingState"
                  #shipState="ngModel"
                  type="text"
                  name="shippingState"
                  class="form-select rounded-0"
                  required
                  [disabled]="sameAddressFlag"
                  (change)="getTaxes(shipState.value)"
                >
                  <option value="" selected>State*</option>
                  <option *ngFor="let state of states" [value]="state">
                    {{ state }}
                  </option>
                </select>

                <p *ngIf="shipState.touched && shipState.invalid">
                  <i class="bi bi-exclamation-square"></i>
                </p>
              </div>
              <div class="mb-3 col-lg-6 col-12">
                <select
                  [(ngModel)]="shipping.shippingCountry"
                  #shipcountry="ngModel"
                  name="shippingCountry"
                  class="form-select rounded-0"
                  required
                  (change)="countryCheck()"
                  [disabled]="sameAddressFlag"
                >
                  <option value="" selected>Country*</option>
                  <option *ngFor="let country of countries" [value]="country">
                    {{ country }}
                  </option>
                </select>

                <p *ngIf="shipcountry.touched && shipcountry.invalid">
                  <i class="bi bi-exclamation-square"></i>
                </p>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
