<div class="accordion rounded-0" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header rounded-0">
      <button
        class="accordion-button h3 p-4 rounded-0"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseOne"
        aria-expanded="true"
        aria-controls="collapseOne"
      >
        <i class="bi bi-1-square-fill rounded-0 me-3"></i> Billing Information
      </button>
    </h2>
    <div
      id="collapseOne"
      class="accordion-collapse collapse show"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        <form
          class="p-3"
          ngForm
          #billingform="ngForm"
          (change)="listenForm(billingform, 'billing')"
        >
          <div class="billing">
            <div class="row">
              <div class="mb-3 col-lg-6 col-md-12 col-12">
                <input
                  [(ngModel)]="billing.billingName"
                  #name="ngModel"
                  type="text"
                  name="billingName"
                  class="form-control rounded-0"
                  placeholder="Name*"
                  required
                />
                <small
                  *ngIf="name.touched && name.invalid"
                  class="text-muted p-3"
                  >This field is required</small
                >
              </div>
              <div class="mb-3 col-lg-6 col-md-12 col-12">
                <input
                  [(ngModel)]="billing.billingSurname"
                  #surname="ngModel"
                  type="text"
                  name="billingSurname"
                  class="form-control rounded-0"
                  placeholder="Surname*"
                  required
                />
                <small
                  *ngIf="surname.touched && surname.invalid"
                  class="text-muted p-3"
                  >This field is required</small
                >
              </div>
              <div class="mb-3 col-lg-6 col-12">
                <input
                  [(ngModel)]="billing.billingEmail"
                  #email="ngModel"
                  type="email"
                  email="true"
                  name="billingEmail"
                  class="form-control rounded-0"
                  placeholder="Email*"
                  required
                />
                <small
                  *ngIf="email.touched && email.invalid"
                  class="text-muted p-3"
                  >This field is required or Invalid email</small
                >
              </div>
              <div class="mb-3 col-lg-6 col-12">
                <input
                  [(ngModel)]="billing.billingPhone"
                  #phone="ngModel"
                  type="tel"
                  name="billingPhone"
                  class="form-control rounded-0"
                  placeholder="Phone*"
                  required
                />
                <small
                  *ngIf="phone.touched && phone.invalid"
                  class="text-muted p-3"
                  >This field is required</small
                >
              </div>
              <div class="mb-3 col-12">
                <input
                  [(ngModel)]="billing.billingAddress"
                  #address="ngModel"
                  type="text"
                  name="billingAddress"
                  class="form-control rounded-0"
                  placeholder="Address*"
                  required
                />
                <small
                  *ngIf="address.touched && address.invalid"
                  class="text-muted p-3"
                  >This field is required</small
                >
              </div>
              <div class="mb-3 col-12">
                <input
                  [(ngModel)]="billing.billingAddress2"
                  #address2="ngModel"
                  type="text"
                  name="billingAddress2"
                  class="form-control rounded-0"
                  placeholder="Address (Optional)"
                />
              </div>
              <div class="mb-3 col-lg-6 col-12">
                <input
                  [(ngModel)]="billing.billingCity"
                  #city="ngModel"
                  type="text"
                  name="billingCity"
                  class="form-control rounded-0"
                  placeholder="City*"
                  required
                />
                <small
                  *ngIf="city.touched && city.invalid"
                  class="text-muted p-3"
                  >This field is required</small
                >
              </div>
              <div class="mb-3 col-lg-6 col-12">
                <input
                  [(ngModel)]="billing.billingZip"
                  #zip="ngModel"
                  type="text"
                  name="billingZip"
                  class="form-control rounded-0"
                  placeholder="Zip code*"
                  required
                />
                <small *ngIf="zip.touched && zip.invalid" class="text-muted p-3"
                  >This field is required</small
                >
              </div>

              <div class="mb-3 col-lg-6 col-12">
                <input
                  [(ngModel)]="billing.billingCountry"
                  #country="ngModel"
                  type="text"
                  name="billingCountry"
                  class="form-control rounded-0"
                  placeholder="Country*"
                  required
                />
                <small
                  *ngIf="country.touched && country.invalid"
                  class="text-muted p-3"
                  >This field is required</small
                >
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="accordion-item rounded-0">
    <h2 class="accordion-header">
      <button
        class="accordion-button p-4 rounded-0"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseTwo"
        aria-expanded="false"
        aria-controls="collapseTwo"
      >
        <i class="bi bi-2-square-fill me-3"></i> Shipping address
      </button>
    </h2>
    <div
      id="collapseTwo"
      class="accordion-collapse collapse show"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body rounded-0">
        <div class="d-flex p-2 mb-3">
          <div class="form-check ms-auto mt-4">
            <input
              [(ngModel)]="sameAddressFlag"
              #same="ngModel"
              class="form-check-input"
              type="checkbox"
              id="sameAddress"
              name="sameaddress"
              (click)="sameAddress(billingform)"
            />
            <label class="form-check-label" for="sameAddress">
              Use billing information
            </label>
          </div>
        </div>
        <form
          ngForm
          #shippingform="ngForm"
          class="p-3"
          (change)="listenForm(shippingform, 'shipping')"
        >
          <div class="billing">
            <div class="row">
              <div class="mb-3 col-lg-6 col-md-12 col-12">
                <input
                  [(ngModel)]="shipping.shippingName"
                  #name="ngModel"
                  type="text"
                  name="shippingName"
                  class="form-control rounded-0"
                  placeholder="Name*"
                  required
                  [disabled]="sameAddressFlag"
                />
                <small
                  *ngIf="name.touched && name.invalid"
                  class="text-muted p-3"
                  >This field is required</small
                >
              </div>
              <div class="mb-3 col-lg-6 col-md-12 col-12">
                <input
                  [(ngModel)]="shipping.shippingSurname"
                  #surname="ngModel"
                  type="text"
                  name="shippingSurname"
                  class="form-control rounded-0"
                  placeholder="Surname*"
                  required
                  [disabled]="sameAddressFlag"
                />
                <small
                  *ngIf="surname.touched && surname.invalid"
                  class="text-muted p-3"
                  >This field is required</small
                >
              </div>
              <div class="mb-3 col-12">
                <input
                  [(ngModel)]="shipping.shippingAddress"
                  #shipaddress="ngModel"
                  type="text"
                  name="shippingAddress"
                  class="form-control rounded-0"
                  placeholder="Address*"
                  required
                  [disabled]="sameAddressFlag"
                />
                <small
                  *ngIf="shipaddress.touched && shipaddress.invalid"
                  class="text-muted p-3"
                  >This field is required</small
                >
              </div>
              <div class="mb-3 col-12">
                <input
                  [(ngModel)]="shipping.shippingAddress2"
                  #address2="ngModel"
                  type="text"
                  name="shippingAddress2"
                  class="form-control rounded-0"
                  placeholder="Address (Optional)"
                  [disabled]="sameAddressFlag"
                />
              </div>
              <div class="mb-3 col-lg-6 col-12">
                <input
                  [(ngModel)]="shipping.shippingCity"
                  #city="ngModel"
                  type="text"
                  name="shippingCity"
                  class="form-control rounded-0"
                  placeholder="Phone*"
                  required
                  [disabled]="sameAddressFlag"
                />
                <small
                  *ngIf="city.touched && city.invalid"
                  class="text-muted p-3"
                  >This field is required</small
                >
              </div>
              <div class="mb-3 col-lg-6 col-12">
                <input
                  [(ngModel)]="shipping.shippingZip"
                  #zip="ngModel"
                  type="text"
                  name="shippingZip"
                  class="form-control rounded-0"
                  placeholder="Zip code*"
                  required
                  [disabled]="sameAddressFlag"
                />
                <small *ngIf="zip.touched && zip.invalid" class="text-muted p-3"
                  >This field is required</small
                >
              </div>

              <div class="mb-3 col-lg-6 col-12">
                <input
                  [(ngModel)]="shipping.shippingCountry"
                  #country="ngModel"
                  type="tel"
                  name="shippingCountry"
                  class="form-control rounded-0"
                  placeholder="Country*"
                  required
                  [disabled]="sameAddressFlag"
                />
                <small
                  *ngIf="country.touched && country.invalid"
                  class="text-muted p-3"
                  >This field is required</small
                >
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
