<ng-container *ngIf="show">
  <div class="modal-backdrop" @fade></div>
  <div
    @fadeUp
    class="modal fade show d-block"
    id="modalAsk"
    tabindex="-1"
    aria-labelledby="modalAskLabel"
    aria-hidden="false"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <h1 class="modal-title fs-5 text-center" id="modalAskLabel">
            {{ title }}
          </h1>
          <div class="separador-centrado mb-3 mt-3" @fadeUp2></div>
          <p class="text-center">{{ text }}</p>
        </div>
        <div class="modal-footer border-0">
          <div class="w-100 d-flex">
            <button
              (click)="answer(1)"
              type="button"
              class="btn btn-outline-dark w-100 me-1"
              data-bs-dismiss="modal"
            >
              No
            </button>
            <button
              (click)="answer(2)"
              type="button"
              class="btn btn-dark w-100 ms-1"
            >
              Yes
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
