<div class="modal-backdrop" [ngClass]="{ 'd-none': !show }"></div>

<div
  class="modal rounded-0 animate__animated animate__fadeUp"
  [ngClass]="{ 'show d-block': show }"
  id="modalAsk"
  tabindex="-1"
  aria-labelledby="modalAskLabel"
  aria-hidden="false"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content rounded-0">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalAskLabel">{{ title }}</h1>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="closeAlert()"
        ></button>
      </div>
      <div class="modal-body" id>
        <p [innerHTML]="message"></p>
      </div>
    </div>
  </div>
</div>
