<div class="cart-items py-3">
  <div *ngFor="let product of printList">
    <cart-item
      [product]="product.product"
      [size]="size"
      [itemCount]="product.count"
    ></cart-item>
  </div>
</div>
<div class="cart-checkout">
  <div class="border-top border-bottom py-4">
    <div class="w-100 d-flex mb-3 border-bottom">
      <div class="me-auto">Subtotal</div>
      <div class="ms-auto">{{ subtotal | currency : "USD" }}</div>
    </div>
    <div class="w-100 d-flex mb-3 border-bottom">
      <div class="me-auto">Shipping</div>
      <div class="ms-auto">{{ shipping | currency : "USD" }}</div>
    </div>
    <div class="w-100 d-flex">
      <div class="me-auto h4">TOTAL</div>
      <div class="ms-auto h4">{{ subtotal + shipping | currency : "USD" }}</div>
    </div>
  </div>

  <a
    *ngIf="!size"
    data-bs-dismiss="offcanvas"
    aria-label="Close"
    routerLink="/checkout"
    class="btn btn-outline-dark rounded-0 w-100 py-3"
  >
    Cart checkout
  </a>
</div>
