<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="cart-items py-3" @fadeUp2>
  <ng-container *ngFor="let product of printList">
    <app-cart-item
      [product]="product.product"
      [size]="size"
      [itemCount]="product.count"
    ></app-cart-item>
  </ng-container>
</div>
<div class="cart-checkout" @fadeUp3 *ngIf="total !== 0; else emptyCart">
  <div class="border-top py-4">
    <div class="w-100 d-flex mb-3 border-bottom">
      <div class="me-auto">Subtotal</div>
      <div class="ms-auto">{{ subtotal | currency : "USD" }}</div>
    </div>
    <div
      class="w-100 d-flex mb-3 border-bottom"
      *ngIf="coupon.coupon !== undefined"
    >
      <div class="me-auto">Discount ({{ coupon.discount * 100 + "%" }})</div>
      <div class="ms-auto gold">
        -{{ subtotal * coupon.discount | currency : "USD" }}
      </div>
    </div>
    <div class="w-100 d-flex mb-3 border-bottom">
      <div class="me-auto">
        Free delivery
        <i
          class="bi bi-exclamation-square hover-gold cursor-pointer"
          (click)="alertMessage('freeshipping')"
        ></i>
      </div>
      <ng-container *ngIf="!size; else showFreeShipping">
        <div class="ms-auto">Calculated at Checkcout</div>
      </ng-container>
      <ng-template #showFreeShipping>
        <div class="ms-auto">{{ 0 | currency : "USD" }}</div>
      </ng-template>
    </div>
    <div class="w-100 d-flex mb-3 border-bottom">
      <div class="me-auto">Tax {{ typeTax }}%</div>
      <ng-container *ngIf="!size; else showTaxes">
        <div class="ms-auto">Calculated at Checkcout</div>
      </ng-container>
      <ng-template #showTaxes>
        <div class="ms-auto">{{ taxes | currency : "USD" }}</div>
      </ng-template>
    </div>

    <div class="w-100 d-flex">
      <div class="me-auto hb h4">TOTAL</div>
      <div class="ms-auto hb h4">{{ total | currency : "USD" }}</div>
    </div>
  </div>

  <a
    *ngIf="!size"
    data-bs-dismiss="offcanvas"
    aria-label="Close"
    routerLink="/checkout"
    class="btn btn-dark w-100 mb-3"
  >
    Checkout
  </a>
  <button
    *ngIf="!size"
    class="btn btn-outline-dark w-100 mb-3"
    (click)="deleteAll()"
  >
    Clear Cart
  </button>
</div>
<ng-template #emptyCart>
  <div class="text-center mb-3 border-bottom">
    <img
      alt="Shopping icon"
      src="assets/icons/shopping-bag.svg"
      height="180px"
      class="mb-3"
    />
  </div>
  <h3 class="text-center">Your cart is empty</h3>
  <p class="text-center">Looks like you have not added anything to the cart</p>
  <button class="btn btn-dark w-100 mb-3" data-bs-dismiss="offcanvas">
    Continue Shopping
  </button>
  <a
    class="btn btn-outline-dark w-100"
    routerLink="/signin"
    data-bs-dismiss="offcanvas"
    >Sign In / Register</a
  >
</ng-template>
