<div class="cart-items p-3">
  <div *ngFor="let product of printList">
    <cart-item
      [product]="product"
      [size]="size"
      [itemCount]="itemCount(product.id)"
      class="animate__animated animate__fadeInUp"
    ></cart-item>
  </div>
</div>
<div class="cart-checkout px-3">
  <div class="border-top border-bottom py-4">
    <div class="w-100 d-flex mb-3 border-bottom">
      <div class="me-auto">Subtotal</div>
      <div class="ms-auto">{{ subtotal | currency : "USD" }}</div>
    </div>
    <div class="w-100 d-flex mb-3 border-bottom">
      <div class="me-auto">Shipping</div>
      <div class="ms-auto">{{ shipping | currency : "USD" }}</div>
    </div>
    <div class="w-100 d-flex">
      <div class="me-auto h4">TOTAL</div>
      <div class="ms-auto h4">{{ subtotal + shipping | currency : "USD" }}</div>
    </div>
  </div>

  <a
    *ngIf="!size; else gopay"
    routerLink="/checkout"
    class="btn btn-outline-dark rounded-0 w-100 py-3"
  >
    Cart checkout
  </a>
  <ng-template #gopay>
    <a class="btn btn-dark rounded-0 w-100 py-3"> Go to pay </a>
  </ng-template>
</div>
