<div *ngIf="allProducts.length !== 0">
  <h2 class="fw-bold over-offer">Complete your home</h2>
  <div class="separador-start mb-3"></div>
  <div id="relatedCarousel" class="carousel slide">
    <div class="carousel-inner h-400 mb-5">
      <ng-container *ngFor="let item of items; index as i">
        <div class="carousel-item" [ngClass]="{ active: i === 0 }">
          <div class="row px-2">
            <ng-container
              *ngFor="
                let product of allProducts.slice(
                  i * cardsNum,
                  i * cardsNum + cardsNum
                )
              "
            >
              <div
                class="p-2"
                [ngClass]="
                  cardsNum === 4 ? 'col-3' : cardsNum === 2 ? 'col-6' : 'col-12'
                "
              >
                <app-related-card [product]="product"></app-related-card>
              </div>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#relatedCarousel"
      data-bs-slide="prev"
    >
      <span class="text-dark offer-arrow bg-white p-2 wh-40 shadow rounded-pill"
        ><i class="bi bi-arrow-left-short"></i
      ></span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#relatedCarousel"
      data-bs-slide="next"
    >
      <span class="text-dark offer-arrow bg-white p-2 wh-40 shadow rounded-pill"
        ><i class="bi bi-arrow-right-short"></i
      ></span>
    </button>
  </div>
</div>
<!-- <div id="prueba" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="https://testing.classdesign.us/classapi/images/Bedroom/products/DOR%2039/Bed%20+%20Nightstand/Teal/1.webp"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="https://testing.classdesign.us/classapi/images/Bedroom/products/DOR%2020/Bed%20+%20Nightstand/Fantasy%20silver/1.webp"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="https://testing.classdesign.us/classapi/images/Living%20Room/products/Beluga%20A5530/Right%20L-Shape/Grey/1.webp"
        class="d-block w-100"
        alt="..."
      />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#prueba"
    data-bs-slide="prev"
  >
    <span class="text-dark offer-arrow bg-white p-2 wh-40 shadow rounded-pill"
      ><i class="bi bi-arrow-left-short"></i
    ></span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#prueba"
    data-bs-slide="next"
  >
    <span class="text-dark offer-arrow bg-white p-2 wh-40 shadow rounded-pill"
      ><i class="bi bi-arrow-right-short"></i
    ></span>
  </button>
</div> -->
