.bg-gradient-dark {
  background: linear-gradient(var(--bs-dark), rgba(0, 0, 0, 0));
}
.bg-gradient-light {
  background: white;
}
.navbar li {
  text-transform: uppercase;
}
.navbar {
  z-index: 9999;
  width: 100vw;
  height: 80px;
  position: fixed;
}
.navbar button:hover {
  background: transparent !important;
  color: var(--secondary-color) !important;
}
.nav-item {
  font-size: 14px;
}
.subcategories_list_item:hover {
  color: var(--secondary-color);
}
.p10 {
  font-size: 10px;
}
.dropdown-menu.show {
  top: 144% !important;
  left: -90px !important;
}
.navbar li {
  text-transform: none;
}
.dropdown-icon {
  position: absolute;
  top: -40px;
  left: 54%;
}
.dropdown-item.active,
.dropdown-item:active {
  background-color: var(--bg-gray) !important;
}
app-sidebar {
  z-index: 9999;
  position: relative;
}
app-cart-list {
  z-index: 9999;
  position: relative;
}
