<nav
  [ngClass]="{
    'bg-gradient-light border-bottom': dark,
    'bg-gradient-dark': !dark
  }"
  class="navbar"
>
  <div class="row w-100">
    <div class="mobile-out col-4">
      <div class="justify-content-start menu d-flex">
        <ul
          [ngClass]="{ 'text-dark': dark, 'text-white': !dark }"
          class="navbar-ul mb-0 ps-3"
        >
          <li class="nav-item ms-0">
            <a
              [ngClass]="{ 'text-dark': dark, 'text-white': !dark }"
              class="nav-link active m-2 cursor-pointer"
              data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasExample"
              aria-controls="offcanvasExample"
              aria-current="page"
              ><i class="bi bi-list h3"></i
            ></a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link active mt-1"
              routerLink="/products/products"
              aria-current="page"
              >SHOP<span class="visually-hidden">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active mt-1"
              routerLink="/tracking"
              aria-current="page"
              >TRACKING<span class="visually-hidden">(current)</span></a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-5 col-md-4 col-6 logo d-flex">
      <div class="pc-out mx-3">
        <a
          [ngClass]="{ 'text-dark': dark, 'text-white': !dark }"
          class="nav-link active m-2 cursor-pointer"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasExample"
          aria-controls="offcanvasExample"
          aria-current="page"
          ><i class="bi bi-list h3"></i
        ></a>
      </div>
      <div class="m-auto">
        <a *ngIf="!dark" class="navbar-brand text-center w-50 logo-pc" href="./"
          ><img [src]="url + 'classapi/images/logo.png'" height="50px"
        /></a>
        <a *ngIf="dark" class="navbar-brand text-center w-50 logo-pc" href="./"
          ><img [src]="url + 'classapi/images/logo-black.png'" height="50px"
        /></a>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-6 icons text-end p-1 pe-3">
      <!-- <button
        [ngClass]="{ 'text-dark': dark, 'text-white': !dark }"
        class="btn mt-1 border-0 mx-lg-2 mx-md-2 mx-sm-2 rounded-0"
        type="submit"
      >
        <i class="bi bi-search h-5"></i>
      </button> -->

      <button routerLink="personal" class="btn border-0 rounded-0">
        <img
          [src]="
            dark
              ? 'assets/icons/user_Icon.svg'
              : 'assets/icons/user_Icon-white.svg'
          "
          height="13px"
          class="cursor-pointer"
          [ngClass]="{ 'text-dark': dark, 'text-white': !dark }"
        />
      </button>

      <button
        [ngClass]="{ 'text-dark': dark, gold: !dark }"
        class="btn mt-1 border-0 rounded-0 p10"
        type="button"
        (click)="logOut()"
        *ngIf="isLogged"
      >
        Logout
      </button>

      <button
        type="button"
        [ngClass]="{ animate__shakeX: cheick }"
        class="btn position-relative animate__animated"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasRight"
        aria-controls="offcanvasRight"
      >
        <img
          [src]="
            dark
              ? 'assets/icons/shopping-bag.svg'
              : 'assets/icons/shopping-bag-white.svg'
          "
          height="13px"
          class="cursor-pointer"
        />
        <span
          [ngStyle]="{ opacity: items != 0 ? 1 : 0 }"
          [ngClass]="{
            'bg-dark text-white': dark,
            'bg-light text-dark': !dark
          }"
          class="position-absolute top-0 start-100 translate-middle badge rounded-pill text-dark"
        >
          {{ items }}
        </span>
      </button>
    </div>
  </div>
</nav>
<cart-list></cart-list>
<sidebar></sidebar>
<app-alerts></app-alerts>
