<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/mouse-events-have-key-events -->
<app-offers-top
  *ngIf="allProducts.length !== 0"
  [allProducts]="allProducts"
></app-offers-top>
<nav
  [ngClass]="{
    'bg-gradient-light border-bottom': dark,
    'bg-gradient-dark': !dark
  }"
  [style]="allProducts.length !== 0 ? 'top:25px' : 'top:0px'"
  class="navbar"
>
  <div class="row w-100">
    <div class="mobile-out col-4">
      <div class="justify-content-start menu d-flex">
        <ul
          [ngClass]="{ 'text-dark': dark, 'text-white': !dark }"
          class="navbar-ul mb-0 ps-3"
        >
          <li class="nav-item ms-0">
            <a
              [ngClass]="{ 'text-dark': dark, 'text-white': !dark }"
              class="nav-link active m-2 cursor-pointer"
              data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasExample"
              aria-controls="offcanvasExample"
              aria-current="page"
              ><i class="bi bi-list h3"></i
            ></a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link active mt-1"
              routerLink="/products/all"
              aria-current="page"
              >SHOP<span class="visually-hidden">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active mt-1"
              routerLink="/tracking"
              aria-current="page"
              >TRACKING<span class="visually-hidden">(current)</span></a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-6 logo d-flex">
      <div class="pc-out mx-3">
        <a
          [ngClass]="{ 'text-dark': dark, 'text-white': !dark }"
          class="nav-link active m-2 cursor-pointer"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasExample"
          aria-controls="offcanvasExample"
          aria-current="page"
          ><i class="bi bi-list h3"></i
        ></a>
      </div>
      <div class="m-auto">
        <a *ngIf="!dark" class="navbar-brand text-center w-50 logo-pc" href="./"
          ><img
            [src]="url + 'classapi/images/logo.png'"
            height="50px"
            alt="Logo"
        /></a>
        <a *ngIf="dark" class="navbar-brand text-center w-50 logo-pc" href="./"
          ><img
            [src]="url + 'classapi/images/logo-black.png'"
            height="50px"
            alt="Logo"
        /></a>
      </div>
    </div>
    <div
      class="col-lg-4 col-md-4 col-6 d-flex justify-content-end icons text-end p-1 pe-3"
    >
      <div class="dropdown">
        <button
          data-bs-toggle="dropdown"
          aria-expanded="false"
          class="btn border-0 rounded-0 mt-lg-2 mt-md-3 mt-1"
        >
          <img
            #userNav
            alt="User Icon"
            [src]="
              dark
                ? 'assets/icons/user_Icon.svg'
                : 'assets/icons/user_Icon-white.svg'
            "
            (mouseover)="userNav.src = 'assets/icons/user_Icon-gold.svg'"
            (mouseout)="
              dark
                ? (userNav.src = 'assets/icons/user_Icon.svg')
                : (userNav.src = 'assets/icons/user_Icon-white.svg')
            "
            height="13px"
            class="cursor-pointer"
            [ngClass]="{ 'text-dark': dark, 'text-white': !dark }"
          />
        </button>
        <ul class="dropdown-menu border-0 bg-gray">
          <img
            alt="icon"
            [src]="url + 'classapi/images/app/custom-icons/point-dropdown.png'"
            width="40px"
            class="dropdown-icon"
          />
          <li (keydown)="click()">
            <a class="dropdown-item" routerLink="personal"
              >Account Information</a
            >
          </li>
          <li>
            <a class="dropdown-item" routerLink="personal/purchase"
              >Purchase History</a
            >
          </li>
          <li>
            <a class="dropdown-item" routerLink="personal/liked"
              >My Favorites</a
            >
          </li>
          <li>
            <a class="dropdown-item" routerLink="personal/password"
              >Password Setting</a
            >
          </li>

          <li>
            <ng-container *ngIf="isLogged; else signin">
              <a class="dropdown-item cursor-pointer" (click)="logOut()"
                >Sign Out</a
              >
            </ng-container>
            <ng-template #signin>
              <a class="dropdown-item" routerLink="signin">Sign In</a>
            </ng-template>
          </li>
        </ul>
      </div>
      <button
        type="button"
        [ngClass]="{ animate__shakeX: cheick }"
        class="btn position-relative animate__animated"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasRight"
        aria-controls="offcanvasRight"
      >
        <img
          #bagNav
          alt="shipping icon"
          [src]="
            dark
              ? 'assets/icons/shopping-bag.svg'
              : 'assets/icons/shopping-bag-white.svg'
          "
          (mouseover)="bagNav.src = 'assets/icons/shopping-bag-gold.svg'"
          (mouseout)="
            dark
              ? (bagNav.src = 'assets/icons/shopping-bag.svg')
              : (bagNav.src = 'assets/icons/shopping-bag-white.svg')
          "
          height="13px"
          class="cursor-pointer"
        />
        <span
          [ngStyle]="{ opacity: items !== 0 ? 1 : 0 }"
          [ngClass]="{
            'bg-dark text-white': dark,
            'bg-light text-dark': !dark
          }"
          class="position-absolute top-0 start-100 translate-middle badge rounded-pill text-dark"
        >
          {{ items }}
        </span>
      </button>
    </div>
  </div>
</nav>
<app-cart-list></app-cart-list>
<app-sidebar></app-sidebar>
