.bg-gradient-dark {
  background: linear-gradient(var(--bs-dark), rgba(0, 0, 0, 0));
}
.bg-gradient-light {
  background: white;
}
.navbar li {
  text-transform: uppercase;
}
.navbar {
  z-index: 999999;
  top: 0px;
  width: 100vw;
  height: 80px;
  position: fixed;
}
.navbar button:hover {
  background: transparent !important;
}
.nav-item {
  font-size: 14px;
}
.subcategories_list_item:hover {
  color: var(--secondary-color);
}
