<div>
  <div
    class="image-showroom"
    [style]="
      'background-image:url(' + url + 'classapi/images/Living/home/living.png)'
    "
  >
    <div class="image-showroom-content p-lg-5 p-md-3 p-sm-1 w-75">
      <h2 class="text-white fw-bolder">Living</h2>
      <div class="image-showroom-buttons">
        <a
          routerLink="products/living"
          (click)="navigate('Living')"
          class="btn btn-outline-light home-explore py-1 px-4 w-25"
          >Explore</a
        >
      </div>
    </div>
    <!-- <popup
      [data]="{
        top: '20%',
        left: '25%',
        id: '40',
      }"
    ></popup>
    <popup
      [data]="{
        top: '45%',
        left: '60%',
        id: '39',
      }"
    ></popup> -->

    <div class="image-showroom-overlay"></div>
  </div>
</div>
