<div>
  <div
    class="image-showroom"
    [style]="
      'background-image:url(' +
      url +
      'classapi/images/showrooms/home/livingroom.png)'
    "
  >
    <div class="image-showroom-content p-lg-5 p-md-3 p-sm-1 w-75">
      <h2 class="text-white fw-bolder">Living Room</h2>
      <div class="image-showroom-buttons">
        <a
          routerLink="products/living"
          (click)="navigate('Living Room')"
          class="btn btn-outline-light home-explore py-1 px-4 w-25"
          >Explore</a
        >
      </div>
    </div>
    <app-popup
      [data]="{
        top: 60,
        left: 25,
        reference: '11130815001331360708',
      }"
    ></app-popup>
    <app-popup
      [data]="{
        top: 60,
        left: 75,
        reference: '11130690104390395603',
      }"
    ></app-popup>
    <app-popup
      [data]="{
      top: 80,
      left: 50,
      reference: '11130390881380570803',
    }"
    ></app-popup>

    <div class="image-showroom-overlay"></div>
  </div>
</div>
