<form ngForm #signinform="ngForm" (ngSubmit)="submit(signinform)">
  <div class="mb-4">
    <input
      ngModel
      #username="ngModel"
      type="email"
      email="true"
      name="username"
      class="form-control rounded-0"
      placeholder="jhonedoe@classdesignhome.com"
      autocomplete="username"
      required
    />
    <p *ngIf="username.touched && username.invalid">
      <i class="bi bi-exclamation-square"></i>
    </p>
  </div>
  <div class="mb-2">
    <input
      ngModel
      #password="ngModel"
      type="password"
      name="password"
      class="form-control rounded-0"
      placeholder="Password"
      required
    />
    <p *ngIf="password.touched && password.invalid">
      <i class="bi bi-exclamation-square"></i>
    </p>
  </div>
  <a href="./passwordchange" class="text-black my-5">Forgot Password</a>
  <div class="mt-4">
    <button class="btn btn-dark w-100" [disabled]="signinform.invalid">
      <div
        *ngIf="processingSignIn"
        class="spinner-border spinner-border-sm mx-3"
        role="status"
      ></div>
      Sign In
    </button>
  </div>
</form>
