<form ngForm #signinform="ngForm" (ngSubmit)="submit(signinform)">
  <div class="mb-4">
    <input
      ngModel
      #username="ngModel"
      type="email"
      email="true"
      name="username"
      class="form-control rounded-0"
      placeholder="jhonedoe@classdesignhome.com"
      autocomplete="username"
      required
    />
    <p *ngIf="username.touched && username.invalid">
      <i class="bi bi-exclamation-square"></i>
    </p>
  </div>
  <div class="mb-4">
    <input
      ngModel
      #password="ngModel"
      type="password"
      name="password"
      class="form-control rounded-0"
      placeholder="Password"
      required
    />
    <p *ngIf="password.touched && password.invalid">
      <i class="bi bi-exclamation-square"></i>
    </p>
  </div>
  <div class="mt-3">
    <button
      class="btn btn-dark w-100 rounded-0"
      [disabled]="signinform.invalid"
    >
      Sign In
    </button>
  </div>
</form>
