<!-- <app-headers [headerName]="category"></app-headers> -->
<!--<app-offers class="my-3 mx-5" [category]="category"></app-offers>-->
<div class="separador-menu"></div>
<article class="container">
  <div class="row">
    <div class="text-start col-sm-12 col-lg-4 col-md-4 p-3">
      <div class="sticky-lg-top category-name pe-5 pt-5">
        <p class="mb-0" @fadeUp>
          <a routerLink="/" class="text-dark">Home</a> /
          <a [routerLink]="'/products/' + category" class="text-dark">{{
            category | capitalize
          }}</a>
          <a
            *ngIf="subcategory"
            [routerLink]="'/products/' + category + '/' + subcategory"
            class="text-dark"
            >{{ " / " + (subcategory | capitalize) }}</a
          >
        </p>
        <h1 @fadeUp1 class="products-page-title mb-0">
          {{ categoryTitle | capitalize }}
        </h1>
        <p @fadeUp2 class="products-page-description">
          {{ categoryText }}
        </p>
      </div>
    </div>
    <app-headers
      @fadeLeft
      class="mobile-out col-8 m-0 p-0"
      [headerName]="category"
    ></app-headers>
  </div>
</article>
<div class="bg-white container border-bottom filter-table" @fadeUp1>
  <products-filter
    [categorySelected]="category"
    [subcategorySelected]="subcategory"
  ></products-filter>
</div>
<article class="container mt-5">
  <productList [category]="category"></productList>
</article>
