.filter-container {
  z-index: 0;
}
.category-name {
  top: 130px;
  z-index: 0;
}
.active {
  color: var(--secondary-color) !important;
  text-decoration: underline !important;
}
@media (min-width: 768px) {
  .container {
    max-width: 95%;
  }
}
@media (max-width: 600px) {
  .pd-sm-3 {
    padding: 0rem 1.25rem !important;
  }
}
.filter-container {
  transition: all 0.5s !important;
  overflow: hidden;
}
.col-0 {
  width: 0% !important;
}
.t-160 {
  height: 80vh;
  overflow-y: auto;
}
