<!-- <app-headers [headerName]="category"></app-headers> -->
<!--<app-offers class="my-3 mx-5" [category]="category"></app-offers>-->
<div class="separador-menu"></div>
<article class="container">
  <div class="d-flex p-2 border-bottom">
    <a
      routerLink="/products/all"
      class="hb pe-3 text-dark"
      [class]="category === 'all' ? 'active' : null"
      >All</a
    >
    <ng-container *ngFor="let thecategory of allCategories">
      <a
        [routerLink]="'/products/' + thecategory.category"
        class="hb px-3 text-dark"
        [class]="category === thecategory.category ? 'active' : null"
        >{{ thecategory.category }}</a
      >
    </ng-container>
  </div>
</article>
<article class="container">
  <div class="row mt-3">
    <div class="text-start col-sm-12 col-lg-4 col-md-12 p-3">
      <div class="sticky-lg-top category-name pe-lg-5 pt-lg-5">
        <p class="mb-0" @fadeUp>
          <a routerLink="/" class="text-dark">Home</a> /
          <a [routerLink]="'/products/' + category" class="text-dark">{{
            category | capitalize
          }}</a>
          <a
            *ngIf="subcategory"
            [routerLink]="'/products/' + category + '/' + subcategory"
            class="text-dark"
            >{{ " / " + (subcategory | capitalize) }}</a
          >
        </p>
        <h1 @fadeUp1 class="products-page-title mb-0 pd-sm-3">
          {{ categoryTitle | capitalize }}
        </h1>
        <p @fadeUp2 class="products-page-description pd-sm-3">
          {{ categoryText }}
        </p>
      </div>
    </div>
    <app-headers
      @fadeLeft
      class="col-sm-12 col-lg-8 m-0 p-0"
      [headerName]="category === 'like' ? 'products' : category"
    ></app-headers>
  </div>
</article>
<div
  class="bg-white container border-bottom filter-table"
  @fadeUp1
  [style]="
    allOffers.length === 0 ? 'top:80px' : width > '650' ? 'top:105px' : null
  "
>
  <app-filter-menu
    [categorySelected]="category"
    [subcategorySelected]="subcategory"
  ></app-filter-menu>
</div>
<article class="container mt-5 row mx-auto">
  <div
    @fadeLeft
    *ngIf="open"
    class="p-0 filter-container position-relative"
    [class]="open ? 'col-3' : 'col-0'"
  >
    <div class="filter-container-elements sticky-top t-160" style="width: 24vw">
      <app-products-filter
        [categorySelected]="category"
        [subcategorySelected]="subcategory"
      ></app-products-filter>
    </div>
  </div>

  <app-product-list
    [class]="open ? 'col-9' : 'col-12'"
    class="ms-auto"
    [category]="category"
  ></app-product-list>
</article>
<app-quick-view-modal></app-quick-view-modal>
