.filter-container {
  top: 120px;
  z-index: 0;
}
.products-page-title {
  font-size: 5rem;
  font-weight: bolder;
}
.category-name {
  top: 130px;
  z-index: 0;
}

@media (min-width: 768px) {
  .container {
    max-width: 95%;
  }
}
