.filter-container {
  top: 120px;
  z-index: 0;
}
.category-name {
  top: 130px;
  z-index: 0;
}

@media (min-width: 768px) {
  .container {
    max-width: 95%;
  }
}
@media (max-width: 600px) {
  .pd-sm-3 {
    padding: 0rem 1.25rem !important;
  }
}
