<div class="d-flex">
  <button
    class="btn hb btn-outline-dark border rounded-0 text-center"
    (click)="less()"
  >
    -
  </button>
  <input
    [(ngModel)]="number"
    #counter="ngModel"
    type="number"
    name="counter"
    class="form-control text-center text-center border-0 border-bottom border-top rounded-0 p-0 input-sm"
    placeholder="Counter"
    [min]="min"
  />
  <button
    class="btn hb btn-outline-dark border rounded-0 text-center"
    (click)="add()"
  >
    +
  </button>
</div>
