<article @fadeUp3 class="my-3" *ngIf="show; else couponApplied">
  <form ngForm #billingform="ngForm">
    <div class="billing">
      <div class="row">
        <div class="mb-3 col-12 d-flex">
          <input
            ngModel
            #couponText="ngModel"
            type="text"
            name="couponText"
            maxlength="10"
            class="form-control rounded-0 me-0"
            placeholder="Do you have a descount?"
            required
          />

          <button
            [disabled]="couponText.invalid"
            class="btn btn-dark rounded-0 ms-0"
            type="submit"
            (click)="listenCoupon(couponText.value)"
          >
            Apply discount
          </button>
        </div>
      </div>
    </div>
  </form>
</article>
<ng-template #couponApplied>
  <article>
    <p class="container-couponApplied bg-light p-3 rounded-3 text-center">
      The coupon <strong class="gold">{{ coupon.coupon }}</strong> has already
      been applied.
    </p>
  </article>
</ng-template>
