<div
  class="offcanvas offcanvas-end"
  tabindex="-1"
  id="offcanvasRight"
  aria-labelledby="offcanvasRightLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title ms-3" id="offcanvasRightLabel">
      <i class="bi bi-bag-heart h4"></i> HAVE A NICE SHOPPING
    </h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <div class="cart-items p-3">
      <cart-item class="animate__animated animate__fadeInUp"></cart-item>
      <cart-item class="animate__animated animate__fadeInUp"></cart-item>
      <cart-item class="animate__animated animate__fadeInUp"></cart-item>
      <cart-item class="animate__animated animate__fadeInUp"></cart-item>
    </div>
    <div class="cart-checkout px-3">
      <div class="d-flex border-top border-bottom py-4 mb-3">
        <div class="me-auto">Subtotal</div>
        <div class="ms-auto">$4800</div>
      </div>
      <button class="btn btn-outline-dark rounded-0 w-100 py-3">
        Cart checkout
      </button>
    </div>
  </div>
</div>
