<div
  class="offcanvas offcanvas-end"
  tabindex="-1"
  id="offcanvasRight"
  aria-labelledby="offcanvasRightLabel"
>
  <div class="offcanvas-header p-4">
    <button
      type="button"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
      class="btn rounded-0 border-0 btn-light"
    >
      <i class="bi bi-arrow-left-short"></i>
    </button>
    <button
      type="button"
      class="btn rounded-0 color-gold ms-auto border-0 btn-light"
    >
      <i class="bi bi-trash3"></i>
    </button>
  </div>
  <div class="offcanvas-body p-4">
    <app-listed></app-listed>
  </div>
</div>
