.header {
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100vw;
  height: 700px;
  cursor: url("../../../../assets/images/cursor/left.png") !important;
  position: relative;
  transition: all 0.8s;
}
.header-image {
  width: 1920px;
  height: 700px;
  position: absolute;
  top: 0px;
}
.header-image img {
  width: 1920px;
  height: 700px;
  position: absolute;
  top: 0px;
}
.header-overlay {
  position: absolute;
  width: 1920px;
  height: 700px;
  top: 0px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
}
.header-allhostsports {
  width: 1920px;
  height: 700px;
  position: absolute;
  top: 0px;
}
.header-name {
  position: absolute;
  top: 500px;
  font-size: 150px;
  color: rgba(255, 255, 255, 0.322);
  transition: all 0.8s;
}
@media only screen and (max-width: 600px) {
  .header-name {
    top: 550px;
    font-size: 80px;
  }
}
