<div class="main-container">
  <div class="header" #header id="header">
    <!-- (mousedown)="draggableSet()"-->
    <div class="item header-image">
      <img
        [src]="
          url +
          'classapi/images/' +
          headerNameUrl +
          '/showroom/showroom-' +
          headerNameUrl +
          '-1.png'
        "
      />
      <div class="header-allhostsports">
        <popup *ngFor="let popup of popups" [data]="popup"></popup>
      </div>
      <div class="header-overlay"></div>
    </div>
  </div>
  <div class="header-tool">
    <button class="btn btn-white shadow rounded-pill mx-4 mt-4 mb-2">
      <i class="bi bi-fullscreen p-2 m-0"></i>
    </button>
  </div>
  <div class="header-carrousel">
    <div class="header-carrousel-item">
      <img
        [src]="
          url +
          'classapi/images/' +
          headerNameUrl +
          '/showroom/showroom-' +
          headerNameUrl +
          '-1.png'
        "
      />
    </div>
    <div class="header-carrousel-item">
      <img
        [src]="
          url +
          'classapi/images/' +
          headerNameUrl +
          '/showroom/showroom-' +
          headerNameUrl +
          '-1.png'
        "
      />
    </div>
    <div class="header-carrousel-item">
      <img
        [src]="
          url +
          'classapi/images/' +
          headerNameUrl +
          '/showroom/showroom-' +
          headerNameUrl +
          '-1.png'
        "
      />
    </div>
  </div>
</div>
