.header-container {
  position: relative;
  width: 100vw;
  height: 75vh;
}
.main-container {
  position: relative;
}
.header {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100vw;
  height: 75vh;
  cursor: grab;
  position: relative;
  transition: all 0.8s;
}
.header-image {
  width: 108vw;
  height: calc(108vw * 9 / 16);
  position: absolute;
  top: 0px;
}
.header-image img {
  width: 108vw;
  height: calc(108vw * 9 / 16);
  position: absolute;
  top: 0px;
  transition: all 0.5s;
}

.header-overlay {
  position: absolute;
  width: 108vw;
  height: calc(108vw * 9 / 16);
  top: 0px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
}
.header-allhostsports {
  width: 108vw;
  height: calc(108vw * 9 / 16);
  position: absolute;
  top: 0px;
}
.header-name {
  position: absolute;
  bottom: 5%;
  left: 20px;
  font-size: calc(100vh / 4.5);
  line-height: 9lvw;
  color: rgba(255, 255, 255, 0.322);
  transition: all 0.8s;
}
@media only screen and (max-width: 600px) {
  .header-name {
    top: 550px;
    font-size: 80px;
  }
}
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
html {
  font-size: 10px;
}
