<div class="card shadow-sm rounded-0 p-3">
  <div class="row g-0 rounded-0">
    <div class="col-5 position-relative">
      <img
        [src]="
          './assets/images/' +
          (product.category | spaces) +
          '/products/productx.png'
        "
        class="img-fluid"
        [alt]="product.name"
      />
    </div>
    <div class="col-7">
      <div class="card-body p-2 ps-3 position-relative h-100">
        <h6 class="card-title mb-0">{{ product.name }}</h6>
        <p class="small mb-0 text-decoration-line-through">
          {{ product.price | currency : "USD" }}
        </p>
        <p class="mb-0 color-gold">
          {{ product.price | currency : "USD" }}
        </p>
        <div class="position-absolute w-90 bottom-0 d-flex">
          <p
            class="bg-dark px-2 small text-white rounded-pill position-absolute cursor-default"
            title="New product"
            style="left: 0px"
          >
            -40%
          </p>
          <div class="ms-auto h-100 text-end">
            <p
              *ngIf="product.stock && !product.membersOnly"
              (click)="navigate(product.id, product.name)"
              class="rounded-0 card-button cursor-pointer mb-0"
            >
              Details <i class="bi bi-arrow-right-short"></i>
            </p>
            <p
              *ngIf="!product.stock"
              (click)="navigate(product.id, product.name)"
              class="rounded-0 card-button text-decoration-line-through cursor-pointer mb-0"
            >
              Stock <i class="bi bi-arrow-right-short"></i>
            </p>
            <p
              *ngIf="product.stock && product.membersOnly"
              (click)="navigate(product.id, product.name)"
              class="rounded-0 card-button cursor-pointer mb-0"
            >
              Members <i class="bi bi-arrow-right-short"></i>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
