.popup {
  height: 176px;
  z-index: 9;
  background: transparent !important;
  border-radius: 15px;
  transition: all 0.5;
}
.card {
  min-height: 176px !important;
}

.dataShow {
  transition: all 0.5s;
}
.popup--name {
  font-size: 18px;
}
.popup--description {
  font-size: 12px;
}
.popup-container {
  position: absolute;
  z-index: 9;
  min-height: 176px;
  transition: all 0.5;
}
.image-showroom-hotspot:hover {
  outline: 20px solid var(--secondary-color);
  background-color: var(--secondary-color);
}

.image-showroom-hotspot {
  border: 5px solid rgba(255, 255, 255, 0.5);
  padding: 3px;
  background-color: white;
  outline: 2px solid white;
  border-radius: 50%;
  position: absolute;
  z-index: 9;
  cursor: pointer;
  transition: all 0.5s;
  top: 95%;
  left: -13%;
  outline-offset: 10px;
  animation: mymove 2s;
  animation-iteration-count: infinite;
}
.showroom-container {
  position: absolute;
  z-index: 999;
}
@keyframes mymove {
  from {
    outline: 2px solid white;
    outline-offset: 0px;
  }
  to {
    outline: 2px solid rgba(255, 255, 255, 0.5);
    outline-offset: 10px;
  }
}
.card-button {
  transition: all 0.5s;
  overflow: hidden;
}
@media (max-width: 768px) {
  /* .image-showroom-hotspot,
  .showroom-container {
    display: none;
  } */
}
