<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->

<div
  #pointAnimted
  class="image-showroom-hotspot"
  (click)="popup_active = !popup_active"
  [ngStyle]="{ top: data.top + '%', left: data.left + '%' }"
></div>
<div
  *ngIf="popup_active"
  @fade
  class="showroom-container"
  [style]="
    isPc
      ? 'top:calc(' +
        data.top +
        '% - 120px);left: calc(' +
        data.left +
        '% + 30px)'
      : 'top:calc(' +
        data.top +
        '% - 38px);left: calc(' +
        data.left +
        '% + 26px)'
  "
>
  <app-showroom-card
    [product]="product"
    (active)="desactive($event)"
  ></app-showroom-card>
</div>
