<div
  @fadeUp2
  class="card col-12 col-md-g position-relative rounded-4 mb-4 border-0 mx-auto bg-gray p-3"
>
  <a
    [href]="url + 'classapi/images/collections/file/' + collection.urlDocument"
    target="_blank"
    class="text-dark"
  >
    <div class="catallog-image position-relative">
      <img
        [src]="
          url + 'classapi/images/collections/banner/' + collection.urlBanner
        "
        class="card-img-top"
        alt="Savage Collection"
        height="100%"
      />
      <div class="position-absolute logo-collection bg-gray">
        <img
          [src]="url + 'classapi/images/collections/logo/' + collection.urlLogo"
          class="card-img-top rounded-0"
          alt="Savage"
        />
      </div>
    </div>
    <div class="card-body">
      <h2 class="card-title fw-bolder mb-0 h3 mb-3">{{ collection.name }}</h2>
      <p class="card-text mb-2">
        {{ collection.description }}
      </p>
    </div></a
  >
</div>
