<div class="row align-items-start">
  <div
    class="nav col-12 nav-pills me-3 text-start overflow-scroll p-4"
    id="v-pills-tab"
    role="tablist"
    aria-orientation="vertical"
  >
    <div class="content_button justify-content-lg-center">
      <button
        [class]="branch === '' ? 'active' : null"
        class="px-3 mx-2 border-2 btn btn-outline-dark rounded-3"
        id="v-pills-home-tab"
        data-bs-toggle="pill"
        data-bs-target="#v-pills-home"
        type="button"
        role="tab"
        aria-controls="v-pills-home"
      >
        <span class="title-pc"
          ><i class="bi bi-file-person mt-1"></i> Personal information</span
        >
      </button>
      <button
        [class]="branch === 'purchase' ? 'active' : null"
        class="px-3 mx-2 border-2 btn btn-outline-dark rounded-3"
        id="v-pills-profile-tab"
        data-bs-toggle="pill"
        data-bs-target="#v-pills-profile"
        type="button"
        role="tab"
        aria-controls="v-pills-profile"
      >
        <span class="title-pc">
          <i class="bi bi-box-seam mt-1"></i> Purchase history</span
        >
      </button>
      <button
        [class]="branch === 'liked' ? 'active' : null"
        class="px-3 mx-2 border-2 btn btn-outline-dark rounded-3"
        id="v-pills-liked-tab"
        data-bs-toggle="pill"
        data-bs-target="#v-pills-liked"
        type="button"
        role="tab"
        aria-controls="v-pills-liked"
      >
        <span class="title-pc">
          <i class="bi bi-heart mt-1"></i> Liked Products</span
        >
      </button>
      <button
        [class]="branch === 'password' ? 'active' : null"
        class="px-3 mx-2 border-2 btn btn-outline-dark rounded-3"
        id="v-pills-pass-tab"
        data-bs-toggle="pill"
        data-bs-target="#v-pills-pass"
        type="button"
        role="tab"
        aria-controls="v-pills-pass"
      >
        <span class="title-pc"
          ><i class="bi bi-gear mt-1"></i> Password settings</span
        >
      </button>
      <button
        (click)="signOut()"
        class="px-3 mx-2 border-2 btn btn-outline-dark rounded-3"
        id="v-pills-profile-tab"
        data-bs-toggle="pill"
        data-bs-target="#v-pills-profile"
        type="button"
        role="tab"
        aria-controls="v-pills-profile"
      >
        <span class="title-pc"><i class="bi bi-person mt-1"></i> Sign Out</span>
      </button>
    </div>
  </div>
  <div class="tab-content col-12 p-4" id="v-pills-tabContent">
    <div
      [class]="branch === '' ? 'show active ' : null"
      class="tab-pane fade p-0"
      id="v-pills-home"
      role="tabpanel"
      aria-labelledby="v-pills-home-tab"
      tabindex="0"
    >
      <app-personal-form></app-personal-form>
    </div>
    <div
      [class]="branch === 'purchase' ? 'show active ' : null"
      class="tab-pane fade p-0"
      id="v-pills-profile"
      role="tabpanel"
      aria-labelledby="v-pills-profile-tab"
      tabindex="0"
    >
      <div class="tab-personal-item border bg-white">
        <div class="tab-personal-item-header d-flex p-4 border-bottom">
          <div class="hb">
            <i class="bi bi-1-square-fill me-3"></i> Purchase History
          </div>
        </div>
        <div class="p-lg-4">
          <div class="overflow-y-auto overflow-x-hidden p-1">
            <div class="row">
              <ng-container *ngIf="allOrders | async; else noOrders">
                <ng-container *ngFor="let order of allOrders | async">
                  <app-personal-card [order]="order"></app-personal-card>
                </ng-container>
              </ng-container>
              <ng-template #noOrders>
                <div class="text-center">
                  <h4>You have no History Order</h4>
                  <p>These section will display all your feature orders.</p>
                  <button class="btn btn-dark">See the Products</button>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      [class]="branch === 'liked' ? 'show active ' : null"
      class="tab-pane fade p-0"
      id="v-pills-liked"
      role="tabpanel"
      aria-labelledby="v-pills-liked-tab"
      tabindex="0"
    >
      <div class="tab-personal-item border bg-white">
        <div class="tab-personal-item-header d-flex p-4 border-bottom">
          <div class="hb">
            <i class="bi bi-1-square-fill me-3"></i> Liked Products
          </div>
        </div>
        <div class="p-lg-4">
          <div class="overflow-y-auto overflow-x-hidden p-1">
            <div class="row">
              <ng-container *ngIf="allProducts; else noProducts">
                <ng-container *ngFor="let product of allProducts">
                  <div @fadeUp [ngClass]="'col-sm-12 col-md-6 col-lg-4 mb-4'">
                    <app-product-card
                      class="col-sm-12 col-md-6 col-lg-4 mb-4"
                      [product]="product"
                    ></app-product-card>
                  </div>
                </ng-container>
              </ng-container>
              <ng-template #noProducts>
                <div class="text-center">
                  <h4>You have no Liked Products</h4>
                  <p>
                    These section will display all your future favorite
                    products.
                  </p>
                  <a routerLink="/products/all" class="btn btn-dark"
                    >See the Products</a
                  >
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      [class]="branch === 'password' ? 'show active ' : null"
      class="tab-pane fade p-0"
      id="v-pills-pass"
      role="tabpanel"
      aria-labelledby="v-pills-pass-tab"
      tabindex="0"
    >
      <div class="tab-personal-item border bg-white">
        <div class="tab-personal-item-header d-flex p-4 border-bottom">
          <div class="hb">
            <i class="bi bi-1-square-fill me-3"></i> Password Manage
          </div>
        </div>
        <div class="p-lg-4">
          <div class="overflow-y-auto overflow-x-hidden p-1">
            <app-password></app-password>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
