<div class="row align-items-start">
  <div
    class="nav col-12 nav-pills me-3 text-start justify-content-center p-4"
    id="v-pills-tab"
    role="tablist"
    aria-orientation="vertical"
  >
    <button
      class="px-3 active mx-2 border-2 btn btn-outline-dark rounded-3"
      id="v-pills-home-tab"
      data-bs-toggle="pill"
      data-bs-target="#v-pills-home"
      type="button"
      role="tab"
      aria-controls="v-pills-home"
      aria-selected="true"
    >
      <span class="title-pc"
        ><i class="bi bi-file-person mt-1"></i> Personal information</span
      >
    </button>
    <button
      class="px-3 mx-2 border-2 btn btn-outline-dark rounded-3"
      id="v-pills-profile-tab"
      data-bs-toggle="pill"
      data-bs-target="#v-pills-profile"
      type="button"
      role="tab"
      aria-controls="v-pills-profile"
      aria-selected="false"
    >
      <span class="title-pc">
        <i class="bi bi-box-seam mt-1"></i> Purchase history</span
      >
    </button>
    <button
      class="px-3 mx-2 border-2 btn btn-outline-dark rounded-3"
      id="v-pills-profile-tab"
      data-bs-toggle="pill"
      data-bs-target="#v-pills-profile"
      type="button"
      role="tab"
      aria-controls="v-pills-profile"
      aria-selected="false"
    >
      <span class="title-pc"
        ><i class="bi bi-gear mt-1"></i> Password settings</span
      >
    </button>
    <button
      class="px-3 mx-2 border-2 btn btn-outline-dark rounded-3"
      id="v-pills-profile-tab"
      data-bs-toggle="pill"
      data-bs-target="#v-pills-profile"
      type="button"
      role="tab"
      aria-controls="v-pills-profile"
      aria-selected="false"
    >
      <span class="title-pc"><i class="bi bi-person mt-1"></i> Sign Out</span>
    </button>
  </div>
  <div class="tab-content col-12 p-4" id="v-pills-tabContent">
    <div
      class="tab-pane fade show active p-0"
      id="v-pills-home"
      role="tabpanel"
      aria-labelledby="v-pills-home-tab"
      tabindex="0"
    >
      <app-personal-form></app-personal-form>
    </div>
    <div
      class="tab-pane fade p-0"
      id="v-pills-profile"
      role="tabpanel"
      aria-labelledby="v-pills-profile-tab"
      tabindex="0"
    >
      <div class="tab-personal-item border bg-white">
        <div class="tab-personal-item-header d-flex p-4 border-bottom">
          <div class="hb">
            <i class="bi bi-1-square-fill me-3"></i> Buying history
          </div>
        </div>
        <div class="p-4">
          <div class="overflow-y-auto overflow-x-hidden p-1">
            <div class="row">
              <ng-container *ngIf="allOrders | async; else noOrders">
                <ng-container *ngFor="let order of allOrders | async">
                  <app-personal-card [order]="order"></app-personal-card>
                </ng-container>
              </ng-container>
              <ng-template #noOrders>
                <div class="text-center">
                  <h4>You have no History Order</h4>
                  <p>These section will display all your feature orders.</p>
                  <button class="btn btn-dark">See the Products</button>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<article class="container mt-5">
  <h2 class="fw-bold over-offer">Complete your home</h2>
  <div class="separador-start"></div>
  <app-offers [category]="'products'"></app-offers>
</article>
