<ng-container *ngIf="show">
  <div class="modal-backdrop" @fade></div>
  <div class="modal show d-block">
    <div
      @fadeUp
      class="modal-dialog modal-lg modal-dialog-centered text-center"
    >
      <div class="modal-content">
        <div class="modal-body p-0" id>
          <div class="row mx-auto w-100 p-0">
            <div class="col-lg-8 col-md-8 col-sm-12 p-0">
              <img
                [src]="url + 'classapi/images/popup/popup-1500x1042.png'"
                alt="promo image"
                width="100%"
                class="rounded-3"
              />
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="text-end p-3 pe-0">
                <button
                  type="button"
                  class="btn-close opacity-100"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                  (click)="closeAlert()"
                ></button>
              </div>
              <div class="d-grid align-items-center mt-3">
                <div class="p-2">
                  <h2 class="modal-title fs-5 text-center">
                    Enjoy 15% Off Your First Purchase
                  </h2>
                  <div class="separador-centrado mb-3 mt-3" @fadeUp2></div>
                  <p>
                    Join our mailing list and receive 15% off your next
                    order.<br />
                    Be the first to know about new collections, exclusive
                    offers, and design inspiration.
                  </p>
                  <button class="btn btn-dark w-100" (click)="focusEmail()">
                    Sign Up
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
