<div>
  <div
    class="image-showroom"
    [style]="
      'background-image:url(' + url + 'classapi/images/showrooms/home/bath.png)'
    "
  >
    <div class="image-showroom-content p-lg-5 p-md-3 p-sm-1 w-75">
      <h2 class="text-white fw-bolder">Bathroom</h2>
      <div class="image-showroom-buttons d-flex">
        <!-- <button class="btn btn-dark rounded-0 px-4 ms-2 card-button">
          Show rooms
        </button> -->
        <a
          class="btn btn-outline-light home-explore py-1 px-4 w-25"
          routerLink="/products"
          (click)="navigate('Bathroom')"
          >Explore</a
        >
      </div>
    </div>
    <app-popup
      [data]="{
        top: 40,
        left: 33,
        reference: '10500378001130280103',
      }"
    ></app-popup>
    <app-popup
      [data]="{
      top: 70,
      left: 33,
      reference: '20102001017050400703',
    }"
    ></app-popup>

    <app-popup
      [data]="{
        top: 70,
        left: 60,
        reference: '20102001017060400703',
      }"
    ></app-popup>
    <div class="image-showroom-overlay"></div>
  </div>
</div>
