<div>
  <div
    class="image-showroom"
    [style]="
      'background-image:url(' + url + 'classapi/images/Bathroom/home/bath.png)'
    "
  >
    <div class="image-showroom-content p-lg-5 p-md-3 p-sm-1 w-75">
      <h2 class="text-white fw-bolder">Bathroom</h2>
      <div class="image-showroom-buttons d-flex">
        <!-- <button class="btn btn-dark rounded-0 px-4 ms-2 card-button">
          Show rooms
        </button> -->
        <a
          class="btn btn-outline-light backdrop-filter rounded-0 px-4 card-button w-25"
          routerLink="/products"
          (click)="navigate('Bathroom')"
          >Explore</a
        >
      </div>
    </div>
    <!-- <popup
      [data]="{
        top: '20%',
        left: '33%',
        id: '34',
      }"
    ></popup>
    <popup
      [data]="{
        top: '50%',
        left: '70%',
        id: '35',
      }"
    ></popup> -->
    <div class="image-showroom-overlay"></div>
  </div>
</div>
