<div class="separador-menu"></div>
<article class="container">
  <div class="row position-relative z-0">
    <div class="text-start col-lg-3 col-12">
      <div class="sticky-lg-top category-name pt-5">
        <p class="mb-0" @fadeUp>
          <a routerLink="/" class="text-dark">Home</a> / Collections
        </p>
        <h1 class="products-page-title mb-0 fw-bolder" @fadeUp1>Collections</h1>
      </div>
      <div class="separador-start mt-3" @fadeUp2></div>
    </div>
  </div>
</article>
<div class="my-5"></div>
<article class="container mt-5">
  <div class="row">
    <ng-container *ngFor="let collection of $allCollections | async">
      <app-catalog-card
        class="col-lg-6 col-12 p-3"
        [collection]="collection"
      ></app-catalog-card>
    </ng-container>
  </div>
</article>
<article class="container mt-5">
  <app-offers [category]="'all'"></app-offers>
</article>
<article class="container mt-5">
  <app-related [category]="'all'"></app-related>
</article>
