<div class="separador-menu"></div>
<article class="container">
  <div class="row">
    <div class="text-start col-lg-3 col-12">
      <div class="sticky-lg-top category-name pt-5">
        <p class="mb-0" @fadeUp>
          <a routerLink="/" class="text-dark">Home</a> / Collections
        </p>
        <h1 class="products-page-title mb-0 fw-bolder" @fadeUp1>Collections</h1>
      </div>
      <div class="separador-start mt-3" @fadeUp2></div>
    </div>
  </div>
</article>
<div class="my-5"></div>
<article class="container mt-5">
  <catalog-card></catalog-card>
</article>
