/* You can add global styles to this file, and also import other style files */
@import url("../node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --secondary-color: #c19a83;
  --bg-gray: #f1f2f2;
}
* {
  font-family: "Oswald", sans-serif;
}
.cursor-pointer {
  cursor: pointer;
}
.cursor-default {
  cursor: default !important;
}

.w-5 {
  width: 20%;
}
.w-30 {
  width: 40%;
}
.h-70 {
  height: 70vh;
}
.bg-none {
  background: transparent !important;
}
/* ===== Scrollbar CSS ===== */
/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  margin: 50px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--bs-light);
  /* border-radius: 4px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--bs-light);
}
p {
  font-weight: 300;
}
a {
  text-decoration: none !important;
  transition: color 0.5s;
}
a:hover {
  color: var(--secondary-color) !important;
}
.offcanvasFilters {
  z-index: 9999;
}
h1,
h2 {
  font-family: "Playfair Display", serif;
}

.w-90 {
  width: 90%;
}
.color-gold {
  color: var(--secondary-color) !important;
}
.bg-gold {
  background: var(--secondary-color) !important ;
}
.border-gold {
  border: 1px solid var(--secondary-color) !important;
}
.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.card-title {
  font-size: 22px;
  font-weight: 800;
}
.title h1 {
  font-size: 65px;
}

.image-showroom {
  background-size: 100% auto;
  width: 100vh;
  height: 100vh;
}

.image-showroom-buttons {
  margin-top: -210px;
  position: relative;
  z-index: 9;
}
.all-hotspots {
  opacity: 0;
  transition: all 0.3s;
}
popup {
  opacity: 0;
  transition: all 0.8s;
  z-index: 999;
}
.header popup {
  opacity: 1;
}
/********************************* Bootstrap *********************************/
.bi-sliders2::before {
  content: "\f789";
  margin-bottom: 11px;
}
.btn-white {
  background: white !important;
}
/************** HOVER ****************/

.hover-gold:hover {
  transition: all 0.5s;
  color: var(--secondary-color);
}
.btn:hover {
  background: var(--secondary-color) !important;
  color: white !important;
}

.nav-link,
.subcategories_list_item {
  transition: all 0.5s !important;
}
.navbar .nav-link:hover {
  color: var(--secondary-color) !important;
  transform: scale(1.2);
}
footer .nav-link:hover {
  padding-left: 8px !important;
}
footer i:hover {
  color: var(--secondary-color);
}
.navbar .nav-link {
  transition: all 0.5s !important;
  font-size: 15px;
}
.subcategories_list .nav-link:hover .subcategories_list_item {
  color: var(--secondary-color) !important;
  padding-left: 35px;
}
.menu-movil {
  width: 80%;
}
.search-form {
  background: none !important;
  border: none !important;
  border-bottom: 1px solid white !important;
  color: white !important;
}
.separador10 {
  height: 20vh;
}
.separador7 {
  height: 7vh;
}
.separador-menu {
  height: 4vh;
}
.separador-centrado {
  width: 60px;
  height: 1px;
  background: var(--secondary-color);
  margin: auto;
}
.separador-start {
  width: 60px;
  height: 1px;
  background: var(--secondary-color);
}
.bi::before {
  line-height: unset !important;
  vertical-align: middle !important;
}
.wh-40 {
  width: 40px;
  height: 40px;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #212529 !important;
}
input:focus,
select:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 3px rgba(203, 161, 53, 0.289) !important;
  border: 1px solid var(--secondary-color) !important;
}
.form-check-label {
  cursor: pointer;
}
input[type="range"]:focus {
  box-shadow: none !important;
  border: none !important;
}
div:has(input),
div:has(textarea),
div:has(select) {
  position: relative;
}
input ~ p,
textarea ~ div p {
  color: var(--secondary-color) !important;
  width: 30px;
  margin-left: auto;
  margin-bottom: 7px;
  padding: 0px;
  position: absolute;
  top: 4px;
  right: 10px;
}
select ~ p {
  color: var(--secondary-color) !important;
  width: 30px;
  margin-left: auto;
  margin-bottom: 7px;
  padding: 0px;
  position: absolute;
  top: 4px;
  right: 23px;
}

.icons i {
  transition: all 0.5s;
}
.icons i:hover {
  color: var(--secondary-color) !important;
}
/* input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"],
select,
textarea {
  background: transparent !important;
  border: none !important;
  border-bottom: 1px solid #212529 !important;
} */

/****************** range ***********/
.form-range::-webkit-slider-thumb {
  background: #212529 !important;
}
.form-range::-moz-range-thumb {
  background: #212529 !important;
}
.form-range::-moz-range-thumb:focus {
  box-shadow: 0 0 0 3px rgba(203, 161, 53, 0.289) !important;
}
.form-check-input:checked {
  background-color: var(--secondary-color) !important;
  border-color: var(--secondary-color) !important;
}

.select option:nth-child(3):hover {
  background-color: #212529 !important;
}
.offcanvas-header .btn-close {
  transition: all 0.5s;
}
.offcanvas-header .btn-close:hover {
  transform: rotate(180deg);
}
.accordion-item .accordion-button:hover {
  color: var(--secondary-color);
}
.btn-dark:hover {
  background-color: var(--secondary-color) !important;
  border: 1px solid var(--secondary-color) !important;
}
.btn-outline-dark:hover {
  background-color: var(--secondary-color) !important;
  border: 1px solid var(--secondary-color) !important;
}
input[type="checkbox"] {
  border-radius: 0px !important;
}
.accordion-button:not(.collapsed) {
  color: var(--secondary-color) !important;
  background-color: var(--bs-light) !important;
}
.accordion-button:focus {
  box-shadow: 0 0 0 3px rgba(203, 161, 53, 0.289) !important;
}
.bg {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent
    url("http://assets.iceable.com/img/noise-transparent.png") repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation 0.5s infinite;
  opacity: 1;
  visibility: visible;
  z-index: -1;
}

@keyframes bg-animation {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -5%);
  }
  20% {
    transform: translate(-10%, 5%);
  }
  30% {
    transform: translate(5%, -10%);
  }
  40% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(-10%, 5%);
  }
  60% {
    transform: translate(15%, 0);
  }
  70% {
    transform: translate(0, 10%);
  }
  80% {
    transform: translate(-15%, 0);
  }
  90% {
    transform: translate(10%, 5%);
  }
  100% {
    transform: translate(5%, 0);
  }
}
.filter-table {
  width: 100%;
}

/*************************responsive***************************/
@media (min-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .navbar-ul {
    display: none;
  }
  h5 {
    font-size: 1rem !important;
  }
  .side-nav {
    display: block;
  }
  .filter-table {
    position: fixed;
    bottom: 0;
    z-index: 1020;
  }
  .mobile-out {
    display: none !important;
  }
  .products-page-title {
    font-size: 3rem;
    font-weight: bolder;
  }
  .btn-chatbox {
    bottom: 85px;
  }
  .chatbox-form {
    bottom: 40vh;
    right: 10%;
  }
  .btn-chatbox i::before {
    position: relative;
    bottom: 1px;
  }
  .title h1 {
    font-size: 48px;
  }
  .title h2 {
    font-size: 35px;
  }
  .us-member {
    margin-top: 0px;
  }
  .pe-5-mobile {
    padding-right: 0rem;
  }
  .separador10 {
    height: 2vh;
  }
  .catallog-image {
    overflow: hidden;
    height: 21vh;
  }
  .blocks-categories {
    width: 100vw;
    overflow-y: hidden;
    overflow-x: auto;
    transition: all 0.8s;
    border-right: 3px solid white;
    border-left: 3px solid white;
    z-index: 0;
    position: relative;
  }
  .blocks-categories .image-showroom-content h2 {
    font-size: 85px;
    opacity: 0.3;
    height: 152px;
  }
  .blocks-categories .image-showroom-content div {
    margin-left: 20px;
  }
  .blocks-categories .image-showroom {
    filter: grayscale(0.9);
    transition: all 0.8s;
    position: relative;
    left: -25%;
  }
  .blocks-categories .image-showroom-overlay {
    width: 895px;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
    opacity: 0;
    mix-blend-mode: multiply;
    height: 100%;
    transition: all 0.8s;
    position: absolute;
  }
  .blocks-categories .image-showroom-content {
    margin-top: 83%;
    transition: all 0.8s;
    opacity: 0;
    position: absolute;
    z-index: 9;
  }

  .blocks-categories .image-showroom {
    filter: grayscale(0);
    left: 0px;
  }

  .blocks-categories .image-showroom-overlay,
  .blocks-categories .all-hotspots,
  .blocks-categories popup {
    opacity: 1;
  }
  .blocks-categories .image-showroom-content {
    margin-top: 86%;
    opacity: 1;
  }
  .top-nav {
    top: 0px;
  }
}
@media (min-width: 480px) {
  .filter-table {
    position: fixed;
    bottom: 0;
    z-index: 1020;
  }

  /* smartphones, Android phones, landscape iPhone */
  .navbar-ul {
    display: none;
  }
  .side-nav {
    display: block;
  }
  .mobile-out {
    display: block !important;
  }
}
@media (min-width: 600px) {
  .filter-table {
    position: sticky;
    top: 0;
    z-index: 1020;
  }
  .top-nav {
    top: 120px;
  }
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .navbar-ul {
    display: none;
  }
  .side-nav {
    display: block;
  }
  .products-page-title {
    font-size: 5rem;
    font-weight: bolder;
  }
  .btn-chatbox {
    bottom: 15px;
  }
  .chatbox-form {
    bottom: 97px;
    right: 15px;
  }
  .btn-chatbox i::before {
    position: relative;
    bottom: 5px;
  }
  .title h2 {
    font-size: 55px;
  }
  .us-member {
    margin-top: -200px;
  }
  .pe-5-mobile {
    padding-right: 3rem;
  }
  .catallog-image {
    overflow: hidden;
    height: 30vh;
  }
  .tab-pane {
    padding: 3rem;
  }
}
@media (min-width: 801px) {
  .filter-table {
    position: sticky;
    top: 0;
    z-index: 1020;
  }

  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .navbar-ul {
    display: none;
  }
  .side-nav {
    display: block;
  }
  .blocks-categories {
    width: 33.33333%;
    overflow-y: hidden;
    overflow-x: auto;
    transition: all 0.8s;
    border-right: 3px solid white;
    border-left: 3px solid white;
    z-index: 0;
    position: relative;
  }
  .blocks-categories .image-showroom-content h2 {
    font-size: 150px;
    opacity: 0.3;
  }
  .blocks-categories .image-showroom {
    filter: grayscale(0.9);
    transition: all 0.8s;
    position: relative;
    left: -25%;
  }
  .blocks-categories .image-showroom-overlay {
    width: 100vw;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
    opacity: 0;
    mix-blend-mode: multiply;
    height: 100%;
    transition: all 0.8s;
    position: absolute;
  }
  .blocks-categories .image-showroom-content {
    margin-top: 70%;
    transition: all 0.8s;
    opacity: 0;
    position: absolute;
    z-index: 9;
  }
  .blocks-categories:hover {
    width: 1175px;
  }
  .blocks-categories:hover .image-showroom {
    filter: grayscale(0);
    left: 0px;
  }

  .blocks-categories:hover .image-showroom-overlay,
  .blocks-categories:hover .all-hotspots,
  .blocks-categories:hover popup {
    opacity: 1;
  }
  .blocks-categories:hover .image-showroom-content {
    margin-top: 73%;
    opacity: 1;
  }
}
@media (min-width: 1025px) {
  .filter-table {
    position: sticky;
    top: 0;
    z-index: 1020;
  }

  /* big landscape tablets, laptops, and desktops */
  .side-nav {
    display: none;
  }
  .navbar-ul {
    display: inline-block;
  }
  nav .nav-item {
    display: inline-block;
    margin: 0px 15px;
    transition: all 0.5s;
  }
}
@media (min-width: 1281px) {
  .filter-table {
    position: sticky;
    top: 0;
    z-index: 1020;
  }

  .container {
    max-width: 1294px;
  }
  /* hi-res laptops and desktops */
}
nav .nav-item:hover {
  color: var(--scondary-color) !important;
}
.icons i:hover,
.icons div:hover {
  opacity: 0.5s;
}
i {
  vertical-align: middle !important;
}
