<ng-container *ngIf="show">
  <div class="modal-backdrop" @fade></div>
  <div @fadeUp class="modal show d-block" tabindex="-1">
    <div @fadeUp class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-header border-0">
          <button
            type="button"
            class="btn-close opacity-100"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="closeAlert()"
          ></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-6 col-12 p-lg-5 text-center">
              <app-product-galery
                class="sticky-lg-top sticky-md-top"
                [product]="product"
              ></app-product-galery>
              <button
                class="btn btn-dark px-3"
                (click)="navigate(product.reference, product.name)"
              >
                VIEW FULL DETAILS
              </button>
            </div>
            <div class="col-lg-6 col-12 p-lg-5 border-right-gold">
              <app-product-description
                [product]="product"
              ></app-product-description>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<app-full-carrousel [product]="product"></app-full-carrousel>
