<div class="separador-menu"></div>
<article class="container">
  <div class="title text-center text-content my-5">
    <p class="mb-0" @fadeUp>About us</p>
    <h1 class="fw-bolder" @fadeUp1>Welcome to Class Design Home</h1>
    <p @fadeUp1>
      Where every furniture piece we create is not just an object, but a
      cornerstone of family togetherness and warmth.
    </p>
    <div class="separador-centrado mb-5 mt-3" @fadeUp2></div>
  </div>
  <div class="overflow-hidden mobile-out" @fadeUp3>
    <app-headers [headerName]="'aboutus'"></app-headers>
  </div>
  <div class="row mt-5">
    <div class="title col-lg-6 col-md-6 col-sm-12 text-content">
      <div
        class="p-lg-5 p-md-4 p-sm-3 sticky-top"
        style="z-index: 0; top: 60px"
      >
        <p class="mb-0" @fadeUp>Our company</p>
        <h2 class="fw-bolder" @fadeUp1>Class Design Home</h2>
        <p @fadeUp2>
          At Class Design Home, we believe that every piece of furniture is a
          canvas for creating warmth and togetherness in the family home. Our
          designs serve not just a function, but as pillars of shared moments
          and cherished memories. Each creation carries the essence of family,
          designed to enrich your home with a warmth that's felt in every wood
          grain and fabric stitch.
        </p>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 mt-5">
      <div class="p-lg-5 p-md-4 p-sm-3">
        <h5 class="pe-5-mobile">Mission</h5>
        <p class="pe-5-mobile">
          At Class Design, our creations transcend the ordinary. We're not just
          crafting furniture; we're building the heart of a family home. It's
          our mission to blend comfort with elegance, infusing living spaces
          with a sense of unity. Our pieces are more than just furniture; they
          are the threads that intend to weave families closer, our goal is to
          tur houses into loving homes.
        </p>
        <h5 class="pe-5-mobile">Vision</h5>
        <p class="pe-5-mobile">
          Envision a world where every piece of furniture anchors the spirit of
          family and class. At Class Design, we strive to create that world, one
          where our furniture transcends functionality and becomes an integral
          part of family-centered luxury. Our vision is set on crafting symbols
          of warmth and enduring comfort, recognized globally not just as
          furniture, but as foundational pieces that enhance every precious
          family moment with timeless elegance and genuine sentiment.
        </p>
        <h5 class="pe-5-mobile">Values</h5>
        <p class="pe-5-mobile">
          <strong>Heartfelt Craftsmanship:</strong> Each piece is a labor of
          love, reflecting the comforting embrace of a family home. We pour our
          passion into every detail, ensuring that our furniture is not only
          built to last but is imbued with the care and warmth of artisanal
          craftsmanship.<br />

          <strong>Innovative Comfort:</strong> Comfort is not just a feature,
          it's a priority. Our innovative approach ensures that each design
          caters to the comfort and needs of every family member, adapting to
          your life with style and functionality.<br />

          <strong>Timeless Elegance:</strong> Our commitment to elegance is
          unwavering, ensuring that every product goes beyond fulfilling
          needs—it enhances the entire family's living experience with a grace
          that's both felt and seen.<br />

          <strong>Generational Durability:</strong> We believe in building for
          the future—furniture that withstands the test of time, becoming
          cherished heirlooms that carry the legacy of families for generations
          to come.<br />

          <strong>Family First:</strong> Family is the nucleus of our design
          philosophy. Every decision is rooted in nurturing togetherness,
          ensuring that our furniture helps create an environment where comfort
          meets shared joy.<br />

          <strong>Personalized Service:</strong> We recognize that every family
          is unique. Our personalized service is dedicated to meeting your
          distinct needs, providing tailored advice, and solutions with a
          personal touch that's rare in today's world.<br />

          <strong>Integrity and Warmth:</strong> We conduct our business
          grounded in integrity and a warmth that reflects the sanctity of
          family. At Class Design Home, every interaction is familial, every
          service heartfelt. As a partner in building your home, Class Design
          Home is dedicated to more than just aesthetics—we are your
          collaborators in weaving a tapestry of love, comfort, and exquisite
          memories within the walls of your home.
          <br />
        </p>
      </div>
    </div>
  </div>
</article>
<article>
  <div
    class="us-banner"
    [style]="
      'background-image: url(' +
      url +
      'classapi/images/aboutus/showroom/showroom-aboutus-1.png)'
    "
  >
    <div class="us-banner-overlay"></div>
    <h3 class="fw-bolder col-lg-12 col-md-12 col-sm-8">At Class Design Home</h3>
    <p class="col-4 mx-auto">
      We're more than a furniture brand; we're a family's partner in creating a
      home filled with love, comfort, and beautiful memories.
    </p>
  </div>
</article>
<article class="container">
  <div class="row mt-5 text-center">
    <div class="col-lg-6 col-md-6 col-sm-12 mx-auto">
      <div class="title p-lg-5 p-md-4 p-sm-3">
        <p class="mb-0">Our story</p>
        <h2 class="fw-bolder">How it all started</h2>
        <div class="separador-centrado mb-5 mt-3"></div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rhoncus
          eget enim eget tincidunt. In finibus nisi ex, eu interdum urna euismod
          sit amet. Morbi sollicitudin in magna sed tristique. Nulla pharetra
          sapien eros, sit amet bibendum nibh consectetur quis. Curabitur tortor
          dolor, fringilla eu fringilla id, dignissim in urna.
        </p>
      </div>
    </div>
  </div>
</article>
<div class="separador10"></div>
<article class="bg-light">
  <div class="container">
    <div class="row mt-5">
      <div class="col-lg-6 col-md-6 col-sm-12 mx-auto">
        <div class="p-lg-5 p-md-4 mt-5">
          <h3 class="fw-bolder">About the founder</h3>
          <div class="separador-start mb-5 mt-3"></div>
          <p>
            Proin nec ante eu sem luctus bibendum. Sed ut fringilla dolor. Morbi
            suscipit a nunc eu finibus. Nam rutrum mattis velit eget volutpat.
            Fusce egestas mi urna, id pulvinar ipsum dictum eget. Mauris in
            dolor velit. Vestibulum finibus felis non massa commodo molestie at
            id justo. Quisque sollicitudin elit sit amet facilisis euismod.
            Fusce at arcu sed libero lacinia dignissim id bibendum metus.<br /><br />
            Nam rutrum mattis velit eget volutpat. Fusce egestas mi urna, id
            pulvinar ipsum dictum eget.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 mx-auto">
        <div class="p-lg-5 p-md-4 p-sm-3">
          <img
            alt="Member pictures"
            [src]="url + 'classapi/images/aboutus/home/about-02.jpg'"
            class="us-member"
            width="100%"
          />
        </div>
      </div>
    </div>
  </div>
</article>
