<div class="separador-menu"></div>
<article class="container">
  <div class="title text-center text-content my-5">
    <p class="mb-0" @fadeUp>About us</p>
    <h1 class="fw-bolder" @fadeUp1>Our Story</h1>
    <div class="separador-centrado mb-5 mt-3" @fadeUp2></div>
  </div>
  <div class="overflow-hidden mobile-out" @fadeUp3>
    <app-headers [headerName]="'aboutus'"></app-headers>
  </div>
  <div class="row mt-5">
    <div class="title col-lg-6 col-md-6 col-sm-12 text-content">
      <div class="p-lg-5 p-md-4 p-sm-3">
        <p class="mb-0" @fadeUp>About us</p>
        <h2 class="fw-bolder" @fadeUp1>Our team is what we value the most</h2>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 mt-5">
      <div class="p-lg-5 p-md-4 p-sm-3">
        <h5 class="pe-5-mobile">
          With great people, modern and cool products emerge.
        </h5>
        <p class="pe-5-mobile">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rhoncus
          eget enim eget tincidunt. In finibus nisi ex, eu interdum urna euismod
          sit amet. Morbi sollicitudin in magna sed tristique. Nulla pharetra
          sapien eros, sit amet bibendum nibh consectetur quis. Curabitur tortor
          dolor, fringilla eu fringilla id, dignissim in urna. Nulla varius
          dolor ac eros posuere, nec interdum justo condimentum. Phasellus
          lacinia sit amet tellus at pulvinar. Maecenas faucibus porta quam.<br /><br />
          Ut in lorem ullamcorper velit facilisis pellentesque. In tincidunt
          metus eget arcu congue, ac aliquam velit ultricies. Aliquam posuere eu
          arcu et elementum. Donec pulvinar eget orci et pellentesque. Aenean at
          ultricies quam. Nunc feugiat sapien quis pharetra tincidunt. Etiam a
          viverra nulla. Pellentesque consectetur libero est, sed ullamcorper
          diam convallis ac. Praesent a convallis ante. Suspendisse potenti. Sed
          sed cursus erat, et auctor metus.
        </p>
      </div>
    </div>
  </div>
</article>
<article>
  <div
    class="us-banner"
    [style]="
      'background-image: url(' +
      url +
      'classapi/images/aboutus/showroom/showroom-aboutus-1.png)'
    "
  >
    <div class="us-banner-overlay"></div>
    <h3 class="fw-bolder col-lg-4 col-md-6 col-sm-8">
      Simplicity carried to an extreme becomes elegance
    </h3>
  </div>
</article>
<article class="container">
  <div class="row mt-5 text-center">
    <div class="col-lg-6 col-md-6 col-sm-12 mx-auto">
      <div class="title p-lg-5 p-md-4 p-sm-3">
        <p class="mb-0">Our story</p>
        <h2 class="fw-bolder">How it all started</h2>
        <div class="separador-centrado mb-5 mt-3"></div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rhoncus
          eget enim eget tincidunt. In finibus nisi ex, eu interdum urna euismod
          sit amet. Morbi sollicitudin in magna sed tristique. Nulla pharetra
          sapien eros, sit amet bibendum nibh consectetur quis. Curabitur tortor
          dolor, fringilla eu fringilla id, dignissim in urna.
        </p>
      </div>
    </div>
  </div>
</article>
<div class="separador10"></div>
<article class="bg-light">
  <div class="container">
    <div class="row mt-5">
      <div class="col-lg-6 col-md-6 col-sm-12 mx-auto">
        <div class="p-lg-5 p-md-4 mt-5">
          <h3 class="fw-bolder">About the founder</h3>
          <div class="separador-start mb-5 mt-3"></div>
          <p>
            Proin nec ante eu sem luctus bibendum. Sed ut fringilla dolor. Morbi
            suscipit a nunc eu finibus. Nam rutrum mattis velit eget volutpat.
            Fusce egestas mi urna, id pulvinar ipsum dictum eget. Mauris in
            dolor velit. Vestibulum finibus felis non massa commodo molestie at
            id justo. Quisque sollicitudin elit sit amet facilisis euismod.
            Fusce at arcu sed libero lacinia dignissim id bibendum metus.<br /><br />
            Nam rutrum mattis velit eget volutpat. Fusce egestas mi urna, id
            pulvinar ipsum dictum eget.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 mx-auto">
        <div class="p-lg-5 p-md-4 p-sm-3">
          <img
            [src]="url + 'classapi/images/aboutus/home/about-02.jpg'"
            class="us-member"
            width="100%"
          />
        </div>
      </div>
    </div>
  </div>
</article>
