.us-banner {
  margin: 50px 0px;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(158, 158, 158);
  background-attachment: fixed;
  background-size: auto 100%;
  background-position: center center;
  overflow: hidden;
  background-blend-mode: multiply;
}
.us-banner h3 {
  color: white;
  font-size: 45px;
  text-align: center;
}
