<form
  ngForm
  #contactForm="ngForm"
  (submit)="submit(contactForm)"
  class="p-3 text-start"
>
  <div class="mb-3">
    <input
      ngModel
      #fullname="ngModel"
      type="text"
      name="fullname"
      class="form-control rounded-0"
      placeholder="Fullname*"
      required
    />
    <p *ngIf="fullname.invalid && fullname.touched">
      <i class="bi bi-exclamation-square"></i>
    </p>
  </div>
  <div class="mb-3">
    <select
      ngModel
      #subject="ngModel"
      type="text"
      name="subject"
      class="form-select rounded-0"
      required
    >
      <option value="" selected>Subject*</option>
      <option value="Product Interest">Delivery problem</option>
      <option value="Product Interest">Product information</option>
      <option value="Product Interest">Product Interest</option>
      <option value="Product Interest">Product Interest</option>
      <option value="Product Interest">Product Interest</option>
    </select>
    <p *ngIf="subject.invalid && subject.touched">
      <i class="bi bi-exclamation-square"></i>
    </p>
  </div>
  <div class="mb-3">
    <input
      ngModel
      #email="ngModel"
      type="email"
      email="true"
      name="email"
      class="form-control rounded-0"
      placeholder="Email*"
      required
    />
    <p *ngIf="email.invalid && email.touched">
      <i class="bi bi-exclamation-square"></i>
    </p>
  </div>
  <div class="mb-3">
    <textarea
      ngModel
      #textMessage="ngModel"
      name="textmessage"
      class="form-control rounded-0"
      maxlength="500"
      placeholder="Text Message*"
      required
    ></textarea>
    <div class="d-flex">
      <p *ngIf="textMessage.invalid && textMessage.touched">
        <i class="bi bi-exclamation-square"></i>
      </p>
      <small class="text-muted ms-auto mt-2"
        >{{ textMessage.value != null ? textMessage.value.length : 0 }} /
        500</small
      >
    </div>
  </div>
  <div>
    <button
      class="btn btn-dark rounded-0 w-100"
      [disabled]="contactForm.invalid"
    >
      Send
    </button>
  </div>
</form>
<div class="mb-3"></div>
