<form
  ngForm
  #contactForm="ngForm"
  (submit)="submit(contactForm)"
  class="p-3 text-start"
>
  <div class="mb-3">
    <input
      ngModel
      #fullname="ngModel"
      type="text"
      name="fullname"
      class="form-control rounded-0"
      placeholder="Full name*"
      required
    />
    <p *ngIf="fullname.invalid && fullname.touched">
      <i class="bi bi-exclamation-square"></i>
    </p>
  </div>
  <div class="mb-3">
    <select
      ngModel
      #subject="ngModel"
      type="text"
      name="subject"
      class="form-select rounded-0"
      required
      (change)="selectSubSubject(subject.value)"
    >
      <option value="" selected>Subject*</option>
      <option value="Product Inquiries">Product Inquiries</option>
      <option value="Order Management">Order Management</option>
      <option value="Product Interest">Delivery and Shipping</option>
      <option value="Payment and Pricing">Payment and Pricing</option>
      <option value="Technical Support">Technical Support</option>
      <option value="After-Sale Services">After-Sale Services</option>
      <option value="Design Consultation">Design Consultation</option>
      <option value="Corporate and Bulk Orders">
        Corporate and Bulk Orders
      </option>
      <option value="General Inquiries">General Inquiries</option>
    </select>
    <p *ngIf="subject.invalid && subject.touched">
      <i class="bi bi-exclamation-square"></i>
    </p>
  </div>
  <div class="mb-3" *ngIf="subject.value != ''">
    <select
      ngModel
      #topic="ngModel"
      type="text"
      name="topic"
      class="form-select rounded-0 select-option-text"
      data-mdb-option-height="100"
      required
    >
      <option value="" selected>Topic*</option>
      <option *ngFor="let topic of subSubjects" [value]="topic">
        {{ topic }}
      </option>
    </select>
    <p *ngIf="topic.invalid && topic.touched">
      <i class="bi bi-exclamation-square"></i>
    </p>
  </div>
  <div class="mb-3">
    <input
      ngModel
      #email="ngModel"
      type="email"
      email="true"
      name="email"
      class="form-control rounded-0"
      placeholder="Email*"
      required
    />
    <p *ngIf="email.invalid && email.touched">
      <i class="bi bi-exclamation-square"></i>
    </p>
  </div>
  <div class="mb-3">
    <textarea
      ngModel
      #textMessage="ngModel"
      name="textmessage"
      class="form-control rounded-0"
      maxlength="500"
      placeholder="Message*"
      required
    ></textarea>
    <div class="d-flex">
      <p *ngIf="textMessage.invalid && textMessage.touched">
        <i class="bi bi-exclamation-square"></i>
      </p>
      <small class="text-muted ms-auto mt-2"
        >{{ textMessage.value != null ? textMessage.value.length : 0 }} /
        500</small
      >
    </div>
  </div>
  <div>
    <button
      class="btn btn-dark rounded-0 w-100"
      [disabled]="contactForm.invalid"
    >
      <div
        *ngIf="processingContact"
        class="spinner-border spinner-border-sm mx-3"
        role="status"
      ></div>
      Send
    </button>
  </div>
</form>
<div class="mb-3"></div>
