<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<article class="mb-3 col-lg-6 col-md-12 col-12 mx-auto">
  <div class="mb-3 col-12 text-end">
    <a
      class="text-dark cursor-pointer text-end"
      (click)="showPass = !showPass"
      >{{ showPass ? "Hide Password" : "Show Password" }}</a
    >
  </div>
  <div class="mb-3 col-12">
    <input
      [(ngModel)]="newPassword"
      #name="ngModel"
      [type]="showPass ? 'text' : 'password'"
      name="name"
      class="form-control rounded-0"
      placeholder="New password*"
      required
    />
    <small *ngIf="name.touched && name.invalid" class="text-muted p-3"
      >This field is required</small
    >
  </div>
  <div class="mb-3 col-12">
    <input
      [(ngModel)]="repeatPassword"
      #surname="ngModel"
      [type]="showPass ? 'text' : 'password'"
      name="surname"
      class="form-control rounded-0"
      placeholder="Repeat new password*"
      required
    />
    <small *ngIf="surname.touched && surname.invalid" class="text-muted p-3"
      >This field is required</small
    >
  </div>

  <button class="btn btn-dark mt-3" (click)="submit()">Update Password</button>
</article>
